<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/admin/layui/css/layui.css" media="all">
    <script src="/admin/js/jquery.min.js"></script>
    <style>
        .layui-table-cell {
            height: auto;
            overflow: visible;
            text-overflow: inherit;
        }


    </style>
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>


<div style="padding:5px;">
    <table id="datatable" lay-filter="test"></table>
</div>

<script src="/admin/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述 JS 路径需要改成你本地的 -->
<script>


    layui.use(['table', 'form', 'layer', 'laydate', 'jquery'], function () {

        var $ = layui.jquery
            , form = layui.form
            , laydate = layui.laydate
            , table = layui.table;

        //日期
        laydate.render({
            elem: '#date_b'
        });

        laydate.render({
            elem: '#date_e'
        });


        table.render({
            elem: '#datatable'
            , totalRow: true
            //, height: 420
            //, toolbar: '#addTemplate' //开启头部工具栏，并为其绑定左侧模板
            , url: '/admin/checkimMsgDetail?master_url=/admin/checkimMsgDetail&token={$token}&isRequest=1&from_uid={$from_uid}&to_uid={$to_uid}' //数据接口
            , page: true //开启分页
            , cols: [[ //表头
                {field: 'id', title: 'ID', width:'10%',hide:true}
                , {field: 'created_time', title: '用户', templet: "#format_created_time",width:'20%'}
                , {field: 'message', title: '聊天内容', templet: '#format_message',event: 'viewmessage',width:'30%'}
                , {field: 'type_mark', title: '消息类型',width:'10%'}
                , {field: 'status_mark', title: '消息状态',width:'10%'}
                , {field: 'check_response_part', title: '监测反馈', event: 'viewcheckresponse',width:'15%'}
                , {field: 'api_response_part', title: 'api反馈', event: 'viewapiresponse',width:'15%'}
            ]]
            , id: 'tablereload'
            , limits: [20, 50, 100]
            , limit: 20 //每页默认显示的数量
            , cellMinWidth: 200
            , where: {}
            , done: function (res, curr, count) {
            }
        });


        var $ = layui.$, active = {
            reload: function () {
                //执行重载
                table.reload('tablereload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                          from_uid: $('#from_uid').val()
                        , to_uid: $('#to_uid').val()
                    }
                });
            }
        };

        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });


        table.on('tool(test)', function (obj) {
            let event = obj.event;
            let data = obj.data;
            if (event === "viewcheckresponse") {
                this.index = layer.tips('<div style="padding: 10px; font-size: 14px; color: #eee;">' + data.check_response + '</div>', this, {
                    time: -1
                    , maxWidth: 280
                    , tips: [3, '#3A3D49']
                })
            }

            if (event === "viewapiresponse") {
                this.index = layer.tips('<div style="padding: 10px; font-size: 14px; color: #eee;">' + data.api_response + '</div>', this, {
                    time: -1
                    , maxWidth: 280
                    , tips: [3, '#3A3D49']
                })
            }

            if (event === "viewmessage") {
                if(data.type == 0){
                    this.index = layer.tips('<div style="padding: 10px; font-size: 14px; color: #eee;">' + data.message + '</div>', this, {
                        time: -1
                        , maxWidth: 280
                        , tips: [3, '#3A3D49']
                    })
                }

            }

            $(this).on('mouseleave', function () {
                layer.close(this.index);
            })

            if (event === "imdetail") {
                var w = ($(window).width() * 0.7);
                var h = ($(window).height() - 50);
                var from_uid = data.from_uid
                var to_uid = data.to_uid
                layer.open({
                    resize: true,
                    maxmin: true,
                    title: '聊天详情',
                    shadeClose: true,
                    area: [w + 'px', h + 'px'],
                    type: 2,
                    content: "/admin/checkimMsgDetail?token={$token}&master_url=/admin/checkimMsgDetail&from_uid=" + from_uid + "&to_uid=" + to_uid,
                });
            }
        })



    });




</script>


<script type="text/html" id="format_created_time">
    <div>{{d.created_time}}</div>
    <div>{{d.from_uid}} -> {{d.to_uid}}</div>
</script>



<script type="text/html" id="format_message">
    {{#  if(d.type == 0 ){ }}
    <span>{{d.message_part}}</span>
    {{#  } else if(d.type == 1) { }}
    <div><a target="_blank" href="{{d.oss}}{{d.message}}"><img src="{{d.oss}}{{d.message}}"></a></div>
	{{#  } else if(d.type == 8) { }}
    <div><a target="_blank" href="{{d.message}}"><img src="{{d.message}}" style="width:50px;height:50px"></a></div>
    {{#  } else if(d.type == 2) { }}
    <div>
        <audio src="{{d.oss}}{{d.message}}" controls="controls" style="width:210px;height:25px"></audio>
    </div>
    {{#  } else{ }}
    <span>{{d.message}}</span>
    {{#  } }}
</script>






</body>
</html>
