<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Mua语音 - 运营后台</title>
<!--    全局css-->
{include file="../view/admin/common/cssHeader.html"}
<link href="/admin/css/fileinput/fileinput.css" media="all" rel="stylesheet" type="text/css"/>
<link href="/admin/css/plugins/toastr/toastr.min.css" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <!-- Example Events -->
                    <div class="example-wrap">
                        <div class="example">
                            {if condition="in_array('/admin/userCardList',$user_role_menu)"}
                            <div class="pull-right search form-inline">
                                <input class="form-control input-outline" type="text" value="{$user_id}"
                                       oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                                       placeholder="用户ID"
                                       id="user_id">
                                <input class="form-control input-outline" type="text" value="{$name}"
                                       placeholder="用户昵称"
                                       id="name">
                                <input class="form-control input-outline" type="text" value="{$Idcard}"
                                       placeholder="身份证"
                                       id="Idcard">
                                <button type="button" class=" btn btn-primary" id="search">搜索</button>
                            </div>
                            {/if}
                            <div class="example">
                            <table class="table table-hover table-responsive" id="data_table">
                                <thead>
                                <tr>
                                    <th class="text-center">ID</th>
                                    <th class="text-center">用户ID</th>
                                    <th class="text-center">姓名</th>
                                    <th class="text-center">身份证号</th>
                                    <th class="text-center">性别</th>
                                    <th class="text-center">地区</th>
                                    <th class="text-center">认证时间</th>
                                </tr>
                                </thead>
                                <tbody>
                                {if condition="!empty($data)"}
                                {volist name="data" id="list"}
                                <tr>
                                    <td class="text-center">{$list.id}</td>
                                    <td class="text-center">{$list.uid}</td>
                                    <td class="text-center">{$list.name}</td>
                                    <td class="text-center">{$list.idCard}</td>
                                    <td class="text-center">{$list.sex}</td>
                                    <td class="text-center">{$list.area}</td>
                                    <td class="text-center">{$list.create_time}</td>
                                </tr>
                                {/volist}
                                {else}
                                <tr class="no-records-found">
                                    <td colspan="9" class="text-center">没有找到匹配的记录</td>
                                </tr>
                                {/if}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {if condition = "$page.total_page >1"}
                    <div id="Paginator" style="text-align: center">
                        <ul id="pageLimit"></ul>
                    </div>
                    {/if}
                    <!-- End Example Events -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Panel Other -->
</div>
<!--操作modal-->
<input type="hidden" value="{$page.page ? $page.page: 0}" id="page">
<input type="hidden" value="{$page.total_page ? $page.total_page: 0}" id="total_page">
<input type="hidden" value="{$token}" name="token" id="token">
    <!-- 全局js -->
    {include file="../view/admin/common/jsHeader.html"}
<script>
    $('#pageLimit').bootstrapPaginator({
        currentPage: $("#page").val(),
        totalPages: $("#total_page").val(),
        size: "normal",
        bootstrapMajorVersion: 3,
        alignment: "right",
        numberOfPages: '5',
        pageUrl: function (type, page, current) {
            //是每个分页码变成一个超链接
            return '?page=' + page + '&master_url=/admin/userCardList&token=' + $("#token").val() + '&user_id=' + $("#user_id").val() + '&name=' + $("#name").val()+ '&Idcard=' + $("#Idcard").val();
        },
        itemTexts: function (type, page, current) {
            switch (type) {
                case "first":
                    return "首页";
                case "prev":
                    return "上一页";
                case "next":
                    return "下一页";
                case "last":
                    return "末页";
                case "page":
                    return page;
            }
        }
    });
    //搜索
    $("#search").click(function () {
        var user_id = $("#user_id").val();
        var token = $('#token').val();
        var name = $("#name").val();
        window.location.href = "/admin/userCardList?token=" + token + '&master_url=/admin/userCardList&page=1&user_id=' + user_id+'&name=' + name+'&Idcard=' + $('#Idcard').val();
    })
</script>
</body>
</html>
