<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mua语音 - 运营后台</title>
    <!--    全局css-->
    {include file="../view/admin/common/cssHeader.html"}
    <link href="/admin/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="/admin/css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <style>

        .form-control:focus {
            border-color: #66afe9;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
        }

        table {
            table-layout: fixed;
        }

        td {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

    </style>

</head>
<body class="gray-bg">

<!--数据表格-->
<div class="wrapper wrapper-content animated fadeInRight" >
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <!-- Example Events -->
                    <div class="example-wrap">

                        <div class="example">
                            <div class="btn-group hidden-xs form-inline">
                                <select class="form-control" id="select_id">
                                    <option value="">请选择房间类型&#12288&#12288</option>
                                    {if condition="!empty($type)"}
                                    {volist name="type" id="lists"}
                                    <option value="{$lists.id}" {if $lists.id== $typeRoom} echo selected="selected" {/if}>{$lists.name}</option>
                                    {/volist}
                                    {/if}
                                </select>
                                <button type="button" class="btn btn-outline btn-success" style="float:right;" id="search">
                                    <i aria-hidden="true"></i>搜索
                                </button>
                            </div>
                            <!--                            添加-->
                            <div class="btn-group hidden-xs" id="exampleTableEventsToolbar" role="group">
<!--                                <button type="button" class="btn addIdRoomType btn-outline btn-success" >-->
<!--                                    <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>顶级分类添加-->
<!--                                </button>-->
                                <button type="button" class="btn editGift btn-outline btn-success" >
                                    <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>房间分类添加
                                </button>
                                <button type="button" class="btn saveRedis btn-outline btn-success" >
                                    <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>更新上线
                                </button>
                                <button type="button" class="btn room-tag btn-outline btn-success" >
                                    <i class="glyphicon glyphicon-cloud" aria-hidden="true"></i>房间个性标签
                                </button>
                            </div>
                            <table class="table table-hover table-responsive" id="data_table">
                                <thead>
                                <tr>
                                    <th class="text-center">分类Id</th>
                                    <th class="text-center">所属大类</th>
                                    <th class="text-center">分类名称</th>
                                    <th class="text-center">音恋图标</th>
                                    <th class="text-center">Mua图标</th>
                                    <th class="text-center">排序</th>
                                    <th class="text-center">是否为默认</th>
                                    <th class="text-center">上下架</th>
                                    <th class="text-center">显示状态</th>
                                    <th class="text-center">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {if condition="!empty($list)"}
                                {volist name="list" id="lists"}
                                <tr>
                                    <td class="text-center id" >{$lists.id}</td>
                                    <td class="text-center ">{$lists.pid}</td>
                                    <td class="text-center">{$lists.room_mode}</td>
                                    <td class="text-center"><img src="{$lists.tab_icon}" alt="" style="width: 50px;"></td>
                                    <td class="text-center"><img src="{$lists.mua_icon}" alt="" style="width: 50px;"></td>
                                    <td class="text-center">
                                        <p class="is_sortp">{$lists.is_sort}</p>
                                        <input type="text" value="{$lists.is_sort}" class="is_sortinput" sid="{$lists.id}" style="width: 20%;display: none;" >
                                    </td>
                                    <td class="text-center">
                                        {if condition="in_array('/admin/editTypeStatus',$user_role_menu)"}
                                        {if condition="($lists.type) == 2"}
                                        <span style="color: #00CED1;">●是</span><br>
                                        <button class="btn btn-success editType" value="2">切换</button>
                                        {else}
                                        <span style="color: #FF0000;">●否</span><br>
                                        <button class="btn btn-success editType" value="1" >切换</button>
                                        {/if}
                                        {/if}
                                    </td>
                                    <td class="text-center">
                                        {if condition="in_array('/admin/editTypeStatus',$user_role_menu)"}
                                        {if condition="($lists.status) == 0"}
                                        <span style="color: #FF0000;">▲下架</span><br>
                                        <button class="btn btn-success editTypeStatus" value="{$lists.status}">上架</button>
                                        {else}
                                        <span style="color: #00CED1;">▲上架</span><br>
                                        <button class="btn btn-success editTypeStatus" value="{$lists.status}" >下架</button>
                                        {/if}
                                        {/if}
                                    </td>
                                    <td class="text-center">
                                        {if condition="in_array('/admin/editTypeShow',$user_role_menu)"}
                                        {if condition="($lists.is_show) == 1"}
                                        <span  style="color: #FF0000;">■显示</span><br>
                                        <button class="btn btn-success editTypeShow" value="{$lists.is_show}">隐藏</button>
                                        {else}
                                        <span style="color: #00CED1;">■隐藏</span><br>
                                        <button class="btn btn-success editTypeShow" value="{$lists.is_show}" >显示</button>
                                        {/if}
                                        {/if}
                                    </td>
                                    <td  class="text-center">
                                        <button class="btn btn-success addGiftImage" modeid="{$lists.id}">图片</button>
                                        <button class="btn btn-success delroomtype">删除</button>

                                    </td>
                                </tr>
                                {/volist}
                                {else}
                                <tr class="no-records-found">
                                    <td colspan="7" class="text-center">没有找到匹配的记录</td>
                                </tr>
                                {/if}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {if condition = "$page.total_page >1"}
                    <div id="Paginator" style="text-align: center">
                        <ul id="pageLimit"></ul>
                    </div>
                    {/if}
                    <!-- End Example Events -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Panel Other -->
</div>

<!--添加-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" onclick="empty()">&times;</span>
                </button>
                <h4 class="modal-title" id="editModalLabel">添加</h4>
            </div>
            <div class="modal-body edit-append">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" >关闭</button>
                <button type="button" class="btn btn-primary" onclick="edit_info()">保存</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addIdRoomType" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" onclick="empty()">&times;</span>
                </button>
                <h4 class="modal-title" id="">添加</h4>
            </div>
            <div class="modal-body edit-append">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" >关闭</button>
                <button type="button" class="btn btn-primary" onclick="add_room_type()">保存</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="attireModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" onclick="empty()">&times;</span>
                </button>
                <h4 class="modal-title" id="attireModalLabel">编辑信息</h4>
            </div>
            <div class="modal-body attire-append">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" >关闭</button>
                <button type="button" class="btn btn-primary" id="search2">修改</button>
            </div>
        </div>
    </div>
</div>
<!--编辑图片-->
<div class="modal fade" id="uploadFileModal" tabindex="-1" role="dialog" aria-labelledby="uploadFileModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="upload-file-name">图片编辑</h4>
            </div>
            <div class="modal-body">
                <form id='uploads_files' method="post" enctype="multipart/form-data">
                    <input type="hidden" name="modeid" id="modeid">
                    <input type="hidden" name="master_url" value="/admin/ossRoomType">
                    <input type="hidden" name="token" value="{$token}">
                    <div class="form-group">
                        <label class="control-label">添加音恋图片[PNG]</label>
                        <input type="file" class="form-control addimg" id="tab_icon" file="roommode" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label">添加mua图片[PNG]</label>
                        <input type="file" class="form-control addimg" id="mua_icon" file="roommode" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="add_imgs()">保存</button>
            </div>
        </div>
    </div>
</div>
<!--操作modal-->
<input type="hidden" value="{$page.page ? $page.page: 0}" id="page">
<input type="hidden" value="{$page.total_page ? $page.total_page: 0}" id="total_page">
<input type="hidden" value="{$token}" name="token" id="token">
<input type="hidden" value="/admin/roomTypeList" name="master_url" id="master_url">

<!-- 全局js -->
{include file="../view/admin/common/jsHeader.html"}

<script src="/admin/js/datetimepicker/bootstrap-datetimepicker.js"></script>
<script src="/admin/js/datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>
<script>

    //数量排序
    $(document).on('click','.is_sortp',function () {
        $('.is_sortinput').hide();
        var $this = $(this);
        $this.hide();
        $this.next('.is_sortinput').show();
        $(this).next('.is_sortinput').trigger("focus");
    })
    $(document).on('blur','.is_sortinput',function () {
        $('.is_sortinput').hide();
        var $this = $(this);
        $this.hide();
        $this.prev('.is_sortp').show();
        $this.prev('.is_sortp').text($(this).val());
        var is_sort = $(this).val();
        if(is_sort==''){
            toastr.warning('不可为空');
            return false;
        }

        var sid = $(this).attr('sid');
        var token = $('#token').val();
        $.ajax({
            async: false,    //表示请求是否异步处理
            type: "get",    //请求类型
            url: "/admin/saveRoomModeSor",//请求的 URL地址
            dataType: "json",//返回的数据类型
            data: {token:token,master_url:'/admin/saveGame',sid:sid,is_sort:is_sort},
            success: function (rs) {
                if (rs.code !== 200) {
                    toastr.warning(rs.msg);
                    return false;
                }
                toastr.success(rs.msg);
            },
            error: function (rs) {
                toastr.warning('请求失败');
            }
        });
    })

    $('#search').click(function () {
        window.location.href = "/admin/roomTypeList?token=" + $('#token').val() + '&master_url=/admin/roomTypeList&page=1&type=' + $('#select_id').val();
    });
    $('.room-tag').click(function () {
        window.location.href = "/admin/roomTagList?token=" + $('#token').val() + '&master_url=/admin/roomTagList&page=1&type='
    });

    $('.saveRedis').on('click',function () {
        $.ajax({
            async: false,    //表示请求是否异步处理
            type: "post",    //请求类型
            url: "/admin/addRoomTagRedis",//请求的 URL地址
            token: $("#token").val(),
            dataType: "json",//返回的数据类型
            data: {token:$('#token').val(),master_url:'/admin/addRoomTagRedis'},
            success: function (rs) {
                if (rs.code != 200) {
                    toastr.warning(rs.msg);
                    return false;
                }
                toastr.success(rs.msg);
                setTimeout(location, 1000);   //延迟5秒刷新页面

            },
            error: function (rs) {
                toastr.warning('请求失败');
            }
        });

        function location() {
            window.location.href = window.location.href;
        }

        return false;
    })
    $('.addIdRoomType').on('click',function () {
        $(".edit-append").empty();
        $(".edit-append").prepend(
            "<form id='edit_form' method='post' >"+

            "<input type='hidden' value='{$token}' name='token'>"+
            "<input type='hidden' value='/admin/roomTypeList' id='master_url' name='master_url'>"+
            "<div class='form-group'>"+
            "<label class='control-label'>"+"分类名称:"+"</label>" +
            "<input type='text' class='form-control' id='name' placeholder='分类名称' name='name'  value='' required='required'>"+
            "</div>"+


            "</form>"
        );
        $('#addIdRoomType').modal('show');
    })

    //添加执行
    function add_room_type(){
        alert('开发中')
        var edit_info = $("#edit_form").serializeArray()

        if($('#name').val()==''){
            toastr.warning("大分类必选");
            return false;
        }
        $.ajax({
            async: false,    //表示请求是否异步处理
            type: "post",    //请求类型
            url: "/admin/addRoomTypeFather",//请求的 URL地址
            token: $("#token").val(),
            dataType: "json",//返回的数据类型
            data: edit_info,
            success: function (rs) {
                if (rs.code != 200) {
                    toastr.warning(rs.msg);
                    return false;
                }
                toastr.success(rs.msg);
                setTimeout(location, 1000);   //延迟5秒刷新页面

            },
            error: function (rs) {
                toastr.warning('请求失败');
            }
        });

        function location() {
            window.location.href = window.location.href;
        }

        return false;
    }

    //删除
    $('.delroomtype').on('click',function () {
        var id = $(this).parents("tr").find(".id").text();
        var r = confirm("确认删除吗？")
        if (r==false) {
            window.location.href = window.location.href;
        }else{
            var master_url = $("#master_url").val()
            var token = $("#token").val()
            $.ajax({
                type: "post",    //请求类型
                async: false,    //表示请求是是异步处理
                url: '/admin/delRoomType',//请求的 URL地址
                token: $("#token").val(),
                dataType: "json",//返回的数据类型
                data: {id:id,token:token,master_url:master_url},
                success: function (rs) {
                    if (rs.code != 200) {
                        toastr.warning(rs.msg);
                        return false;
                    }
                    toastr.success(rs.msg);
                    setTimeout(location, 1000);   //延迟5秒刷新页面

                },
                error: function (rs) {
                    toastr.warning('请求失败');
                }
            });
            function location() {
                window.location.href = window.location.href;
            }

            return false;
        }


    })

    //添加或更改图片
    $('.addGiftImage').on('click',function(){
        $('#modeid').val($(this).attr('modeid'));
        $('#uploadFileModal').modal('show');
    })

    //图片上传
    $(document).on("change",".addimg",function(){
        var sign = $(this).attr('id');
        if($(this)[0].files[0]){
            var animationType = $(this)[0].files[0].name.split('.');
            if (animationType[1] != "bmp"&&animationType[1] != "png"&&animationType[1] != "gif" && animationType[1]!="jpg" && animationType[1]!="jpeg" && animationType[1] != "svga") {
                toastr.warning("文件只限图片");
                return false;
            }
        }
        var formData = new FormData();
        formData.append("token", $("#token").val());
        formData.append("master_url", $("#master_url").val());
        formData.append("image", $(this)[0].files[0]);
        $.ajax({
            async: false,    //表示请求是否异步处理
            cache: false,
            processData: false,
            contentType: false,
            type: "post",    //请求类型
            url: "/admin/ossAttireFile",//请求的 URL地址
            dataType: "json",//返回的数据类型
            data: formData,
            success: function (rs) {
                if (rs.status !== 1) {
                    toastr.warning(rs.msg);
                    return false;
                }
                $('#uploads_files').append("<input type='hidden' name="+sign+"  value="+rs.image+">");
            },
            error: function (rs) {
                toastr.warning('请求失败');
            }
        });
        function location() {
            window.location.href = window.location.href;
        }
        return false;
    })

    function add_imgs(){
        var formData = $("#uploads_files").serializeArray();
        $.ajax({
            async: false,    //表示请求是否异步处理
            type: "post",    //请求类型
            url: "/admin/ossRoomType",//请求的 URL地址
            dataType: "json",//返回的数据类型
            data: formData,
            success: function (rs) {
                if (rs.code !== 200) {
                    toastr.warning(rs.msg);
                    return false;
                }
                toastr.success(rs.msg);
                setTimeout(location, 1000);   //延迟5秒刷新页面
            },
            error: function (rs) {
                toastr.warning('请求失败');
            }
        });
        function location() {
            window.location.href = window.location.href;
        }
        return false;
    }

    //添加
    $('.editGift').on('click',function(){
        $(".edit-append").empty();
        $(".edit-append").prepend(
            "<form id='edit_form' method='post' >"+

            "<input type='hidden' value='{$token}' name='token'>"+
            "<input type='hidden' value='/admin/roomTypeList' id='master_url' name='master_url'>"+

            "<div class='form-group'>"+
            "<label class='control-label'>"+"分类名称:"+"</label>" +
            "<input type='text' class='form-control' id='name' placeholder='分类名称' name='name'  value='' required='required'>"+
            "</div>"+

            "<div>"+
            "选择大分类:"+
            "<select name='id' id='typeid'>"+
            "<option value=''>---请选择---</option>"+
            "{volist name='type' id='list' key='k'}"+
            "<option value='{$list.id}' >{$list.name}</option>"+
            "{/volist}"+
            "</select>"+
            "</div>"+

            "<div>"+
            "显示状态:"+
            "<select name='is_show' id='is_show'>"+
            "<option value='2' >不显示</option>"+
            "<option value='1' >显示</option>"+
            "</select>"+
            "</div>"+

            "<div>"+
            "上下架状态:"+
            "<select name='status' id='status'>"+
            "<option value='0' >下架</option>"+
            "<option value='1' >上架</option>"+
            "</select>"+
            "</div>"+

            "</form>"
        );
        $('#editModal').modal('show');
    })

    //添加执行
    function edit_info(){
        var edit_info = $("#edit_form").serializeArray()

        if($('#typeid').val()==''){
            toastr.warning("大分类必选");
            return false;
        }

        if($('#name').val() == ''){
            toastr.warning('分类名称必填');
            return false;
        }

        // if($('#tab_icon').val() == ''){
        //     toastr.warning('图标必选');
        //     return false;
        // }
        $.ajax({
            async: false,    //表示请求是否异步处理
            type: "post",    //请求类型
            url: "/admin/addRoomType",//请求的 URL地址
            token: $("#token").val(),
            dataType: "json",//返回的数据类型
            data: edit_info,
            success: function (rs) {
                if (rs.code != 200) {
                    toastr.warning(rs.msg);
                    return false;
                }
                toastr.success(rs.msg);
                setTimeout(location, 1000);   //延迟5秒刷新页面

            },
            error: function (rs) {
                toastr.warning('请求失败');
            }
        });

        function location() {
            window.location.href = window.location.href;
        }

        return false;
    }

    //图片上传
    $(document).on("change","#tab_icon",function(){
        if($('#tab_icon')[0].files[0]){
            var animationType = $('#tab_icon')[0].files[0].name.split('.');
            if (animationType[1] != "bmp"&&animationType[1] != "png"&&animationType[1] != "gif" && animationType[1]!="jpg" && animationType[1]!="jpeg") {
                toastr.warning("文件只限图片");
                return false;
            }
        }
        var formData = new FormData();
        formData.append("token", $("#token").val());
        formData.append("file", $(this).attr('file'));
        formData.append("master_url", $("#master_url").val());
        formData.append("image", $('#tab_icon')[0].files[0]);
        $.ajax({
            async: false,    //表示请求是否异步处理
            cache: false,
            processData: false,
            contentType: false,
            type: "post",    //请求类型
            url: "/admin/ossAttireFile",//请求的 URL地址
            dataType: "json",//返回的数据类型
            data: formData,
            success: function (rs) {
                if (rs.status !== 1) {
                    toastr.warning(rs.msg);
                    return false;
                }
                toastr.success(rs.msg);
                $('#tab_icon').parent().append("<input type='hidden' name='tab_icon'  value="+rs.image+">");
            },
            error: function (rs) {
                toastr.warning('请求失败');
            }
        });
        function location() {
            window.location.href = window.location.href;
        }
        return false;
    })

    $('#pageLimit').bootstrapPaginator({
        currentPage: $("#page").val(),
        totalPages: $("#total_page").val(),
        size: "normal",
        bootstrapMajorVersion: 3,
        alignment: "right",
        numberOfPages: '5',
        pageUrl: function (type, page, current) {
            //是每个分页码变成一个超链接
            return '?page=' + page + '&master_url=/admin/roomTypeList&token=' + $("#token").val();
        },
        itemTexts: function (type, page, current) {
            switch (type) {
                case "first":
                    return "首页";
                case "prev":
                    return "上一页";
                case "next":
                    return "下一页";
                case "last":
                    return "末页";
                case "page":
                    return page;
            }
        }
    })

    //修改上下架状态
    $(".editTypeStatus").on('click',function(){
        var id = $(this).parents("tr").find(".id").text()
        var status = $(this).val();
        if (status == 1) {
            status = 0;            //下架
        } else {
            status = 1;            //上架
        }
        var token = $("#token").val();
        var master_url = "/admin/editTypeStatus";
        $.ajax({
            async: false,    //表示请求是否异步处理
            type: "post",    //请求类型
            url: "/admin/editTypeStatus",//请求的 URL地址
            dataType: "json",//返回的数据类型
            data: {id: id,status:status,token: token,master_url:master_url},
            success: function (rs) {
                if (rs.code !== 200) {
                    toastr.warning(rs.msg);
                    return false;
                }
                toastr.success(rs.msg);
                setTimeout(location, 1000);   //延迟5秒刷新页面
            },
            error: function (rs) {
                toastr.warning('请求失败');
            }
        });
        function location() {
            window.location.href = window.location.href;
        }
        return false;
    })

    //修改显示状态
    $(".editTypeShow").on('click',function(){
        var id = $(this).parents("tr").find(".id").text();
        var is_show = $(this).val();
        if(is_show==1){
            is_show=2;
        }else{
            is_show=1;
        }
        var token = $("#token").val();
        var master_url = "/admin/editTypeShow";
        $.ajax({
            async: false,    //表示请求是否异步处理
            type: "post",    //请求类型
            url: "/admin/editTypeShow",//请求的 URL地址
            dataType: "json",//返回的数据类型
            data: {id: id,is_show:is_show,token: token,master_url:master_url},
            success: function (rs) {
                if (rs.code !== 200) {
                    toastr.warning(rs.msg);
                    return false;
                }
                toastr.success(rs.msg);
                setTimeout(location, 1000);   //延迟5秒刷新页面
            },
            error: function (rs) {
                toastr.warning('请求失败');
            }
        });
        function location() {
            window.location.href = window.location.href;
        }
        return false;
    })

    //切换默认
    $(".editType").on('click',function(){
        var id = $(this).parents("tr").find(".id").text();
        var type = $(this).val();
        if(type == 2){
            toastr.warning('默认分类不可切换，请选择非默认切换');
            return false;
        }
        var master_url = $("#master_url").val()
        var token = $("#token").val()
        $.ajax({
            type: "post",    //请求类型
            async: false,    //表示请求是是异步处理
            url: '/admin/updateType',//请求的 URL地址
            token: $("#token").val(),
            dataType: "json",//返回的数据类型
            data: {id:id,type:type,token:token,master_url:master_url},
            success: function (rs) {
                
                if (rs.code != 200) {
                    toastr.warning(rs.msg);
                    return false;
                }
                toastr.success(rs.msg);
                setTimeout(location, 1000);   //延迟5秒刷新页面

            },
            error: function (rs) {
                toastr.warning('请求失败');
            }
        });
        function location() {
            window.location.href = window.location.href;
        }

        return false;
    })
</script>
</body>
</html>