<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mua语音 - 运营后台</title>
    <!--    全局css-->
    {include file="../view/admin/common/cssHeader.html"}
    <link href="/admin/css/plugins/toastr/toastr.min.css" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <!-- Example Events -->
                    <div class="example-wrap">
                        {if condition="in_array('/admin/publishedList',$user_role_menu)"}
                        <div class="pull-right search form-inline">
                            <input class="form-control input-outline" type="text"
                                   oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                                   placeholder="请输入Id" value="{$search_id}"
                                   id="search_id">
                            <button type="button" class=" btn btn-primary" id="search">搜索</button>
                        </div>
                        {/if}
                        <div class="example">
                            <table class="table table-hover table-responsive" id="data_table">
                                <thead>
                                <tr>
                                    <th class="text-center">Id</th>
                                    <th class="text-center">封面</th>
                                    <th class="text-center">活动标题</th>
                                    <th class="text-center">发布时间</th>
                                    <th class="text-center">公告状态</th>
                                </tr>
                                </thead>
                                <tbody>
                                {if condition="!empty($list)"}
                                {volist name="list" id="lists"}
                                <tr>
                                    <td class="text-center" id="id">{$lists.id}</td>
                                    <td class="text-center"><img src="{$lists.notice_img}" class="text-center" style="width: 100px;height: 100px;" alt=""></td>
                                    <td class="text-center notice_title">{$lists.notice_title}</td>
                                    <td class="text-center timing_time">{$lists.timing_time}</td>
                                    <td class="text-center">{$lists.notice_status}</td>
                                </tr>
                                {/volist}
                                {else}
                                <tr class="no-records-found">
                                    <td colspan="8" class="text-center">没有找到匹配的记录</td>
                                </tr>
                                {/if}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {if condition = "$page.total_page >1"}
                    <div id="Paginator" style="text-align: center">
                        <ul id="pageLimit"></ul>
                    </div>
                    {/if}
                    <!-- End Example Events -->
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" value="{$page.page ? $page.page: 0}" id="page">
<input type="hidden" value="{$page.total_page ? $page.total_page: 0}" id="total_page">
<input type="hidden" id="noticeId" value="">
<input type="hidden" name="token" value="{$token}" id="token">
<!-- 全局js -->
{include file="../view/admin/common/jsHeader.html"}
<script src="/admin/js/datetimepicker/bootstrap-datetimepicker.js"></script>
<script src="/admin/js/datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/admin/js/trap/fileinput.js" type="text/javascript"></script>
<script src="/admin/js/trap/fileinput_locale_zh.js" type="text/javascript"></script>

<style>
</style>
<script>
    $('body').on('hidden.bs.modal', '#selectnoticeInfo', function () {
        $(".notice_tbody p").remove();
    });
    // 分页
    $('#pageLimit').bootstrapPaginator({
        currentPage: $("#page").val(),
        totalPages: $("#total_page").val(),
        size: "normal",
        bootstrapMajorVersion: 3,
        alignment: "right",
        numberOfPages: '5',
        pageUrl: function (type, page, current) {
            //是每个分页码变成一个超链接
            return '?page=' + page + '&master_url=/admin/noticeList&token=' + $("#token").val() + '&id=' + $("#search_id").val();
        },
        itemTexts: function (type, page, current) {
            switch (type) {
                case "first":
                    return "首页";
                case "prev":
                    return "上一页";
                case "next":
                    return "下一页";
                case "last":
                    return "末页";
                case "page":
                    return page;
            }
        }
    });
    //搜索
    $("#search").click(function () {
        var notice_id = $("#search_id").val();
        if (isNaN(notice_id)) {
            toastr.warning('请输入正确的Id');
            return false;
        }
        var token = $('#token').val();
        window.location.href = "/admin/publishedList?token=" + token + '&master_url=/admin/publishedList&page=1&notice_id=' + notice_id;
    })
</script>

</body>

</html>
