<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mua语音 - 运营后台</title>
    <!--    全局css-->
    {include file="../view/admin/common/cssHeader.html"}
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">

    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <!-- Example Events -->
                    <div class="example-wrap">
                        {if condition="in_array('/admin/leftUser',$user_role_menu)"}
                        <div class="pull-right search form-inline">
                            <input class="form-control input-outline" type="text" value="{$search_id}"
                                   oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                                   placeholder="用户Id"
                                   id="user_id">
                            <button type="button" class=" btn btn-primary" id="search">搜索</button>
                        </div>
                        {/if}
                        <div class="example">
                            <table class="table table-hover table-responsive" id="data_table">
                                <thead>
                                <tr>
                                    <th class="text-center">用户ID</th>
                                    <th class="text-center">头像框</th>
                                    <th class="text-center">昵称</th>
                                    <th class="text-center">性别</th>
                                    <th class="text-center">剩余豆</th>
                                    <th class="text-center">邀请码</th>
                                    <th class="text-center">注册时间</th>
                                </tr>
                                </thead>
                                <tbody>
                                {if condition="!empty($data)"}
                                {volist name="data" id="list"}
                                <tr>
                                    <td class="text-center uids" id='uids' onclick=on_user_item("{$list.id}",'/admin/memberItem')>{$list.id}</td>
                                    <td class="text-center" id='avatar'><img width="50" src="{$list.avatar}" alt=""></td>
                                    <td class="text-center" id='nickname'>{$list.nickname}</td>
                                    <td class="text-center">{$list.sex}</td>
                                    <td class="text-center">{$list.dou}</td>
                                    <td class="text-center">{$list.invitcode}</td>
                                    <td class="text-center">{$list.register_time}</td>
                                </tr>
                                {/volist}
                                {else}
                                <tr class="no-records-found">
                                    <td colspan="8" class="text-center">没有找到匹配的记录</td>
                                </tr>
                                {/if}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {if condition = "$page.total_page >1"}
                    <div id="Paginator" style="text-align: center">
                        <ul id="pageLimit"></ul>
                    </div>
                    {/if}
                    <!-- End Example Events -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Panel Other -->
</div>



{include file="../view/admin/common/userItem.html"}
<input type="hidden" value="{$page.page ? $page.page: 0}" id="page">
<input type="hidden" value="{$page.total_page ? $page.total_page: 0}" id="total_page">
<input type="hidden" value="{$token}" id="token">
<input type="hidden" value="{$user_role_menu_input}" id="user_role_menu">
<input type="hidden" value="/admin/avatarOssFile" name="master_url" id="master_url">
<input type="hidden" value="/admin/prettyavatarOssFile" name="masters_url" id="masters_url">
<!-- 全局js -->
{include file="../view/admin/common/jsHeader.html"}
<style>
</style>
<script>
    $('#pageLimit').bootstrapPaginator({
        currentPage: $("#page").val(),
        totalPages: $("#total_page").val(),
        size: "normal",
        bootstrapMajorVersion: 3,
        alignment: "right",
        numberOfPages: '5',
        pageUrl: function (type, page, current) {
            //是每个分页码变成一个超链接
            return '?page=' + page + '&master_url=/admin/leftUser&token=' + $("#token").val() + '&user_name=' + $("#search_name").val()+'&head_frame='+$("#head_frame").val();
        },
        itemTexts: function (type, page, current) {
            switch (type) {
                case "first":
                    return "首页";
                case "prev":
                    return "上一页";
                case "next":
                    return "下一页";
                case "last":
                    return "末页";
                case "page":
                    return page;
            }
        }
        /*   onPageClicked:function (event, originalEvent, type, page) {
               location.href = "?page="+page;
           }*/
    });

    $('#search').click(function () {
        var user_id = $("#user_id").val();
        var pretty_id = $("#pretty_id").val();
        var token = $('#token').val();
        var mobile = $('#mobile').val();
        var head_frame = $('#head_frame').val();
        window.location.href = "/admin/leftUser?token=" + token + '&master_url=/admin/leftUser&page=1&user_id=' + user_id;
    })

    function add_imgs(){
        if($("#users_id").val() == ""){
            toastr.warning('未获得用户ID');
            return false;
        }
        if($('#avatar')[0].files[0]){
            var gift_imageType = $('#avatar')[0].files[0].name.split('.');
            /*if(gift_imageType[1] != 'png'){
                toastr.warning('请选择png格式文件');
                return false;
            }*/
        }
        var formData = new FormData();
        formData.append("id", $("#users_id").val());
        formData.append("token", $("#token").val());
        formData.append("master_url", $("#master_url").val());
        formData.append("avatar", $('#avatar')[0].files[0]);
        $.ajax({
            async: false,    //表示请求是否异步处理
            cache: false,
            processData: false,
            contentType: false,
            type: "post",    //请求类型
            url: "/admin/avatarOssFile",//请求的 URL地址
            dataType: "json",//返回的数据类型
            data: formData,
            success: function (rs) {
                if (rs.code !== 200) {
                    toastr.warning(rs.msg);
                    return false;
                }
                toastr.success(rs.msg);
                setTimeout(location, 1000);   //延迟5秒刷新页面
            },
            error: function (rs) {
                toastr.warning('请求失败');
            }
        });
        function location() {
            window.location.href = window.location.href;
        }
        return false;
    }






</script>

</body>

</html>
