<div class="modal fade" id="uploadFileModal" tabindex="-1" role="dialog" aria-labelledby="uploadFileModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="upload-file-name"></h4>
            </div>
            <div class="modal-body">
<!--                <form id='uploads_files' method="post" enctype="multipart/form-data">-->
                <input type="file" name="myfile" data-ref="url2" class="myfile" value="" />
                <input type="hidden" name="url2" value="">
<!--                </form>-->
            </div>
        </div>
    </div>
</div>
