<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mua语音 - 运营后台</title>
    <!--    全局css-->
    {include file="../view/admin/common/cssHeader.html"}
    <link rel="stylesheet" type="text/css" href="/time/daterangepicker.css">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <!-- Example Events -->
                    <div class="example-wrap">
                        <div class="example">
                            <div class="example">
                                <div class="btn-group hidden-xs form-inline">
                                    <div class="form-group">
                                        <input type="text" value="{$demo}" id="demo" readonly class="form_datetime form-control input-outline" style="width:190px;">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" value="{$uid}" id="uid" placeholder="用户ID"  class="form_datetime form-control input-outline">
                                    </div>
                                    <select class="form-control" id="type">
                                        <option value="" {if $type == ''} echo selected="selected" {/if}>全部</option>
                                        <option value="1" {if $type == '1'} echo selected="selected" {/if}>金宝箱</option>
                                        <option value="2" {if $type == '2'} echo selected="selected" {/if}>银宝箱</option>
                                    </select>
                                    &#12288
                                    <button type="button" class="btn btn-outline btn-success" style="float:right;"  id="add_gift">
                                        <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>添加
                                    </button>
                                    &#12288
                                    <button type="button" class="btn btn-outline btn-success" style="float:right;" id="daochu">
                                        <i aria-hidden="true"></i>导出
                                    </button>
                                    &#12288
                                    <button type="button" class="btn btn-outline btn-success" style="float:right;" id="search">
                                        <i aria-hidden="true"></i>搜索
                                    </button>


                                </div>
                                <table class="table table-hover table-responsive" id="data_table" style="word-wrap: break-word; word-break: break-all;">
                                    <thead>
                                    <tr>
                                        <th class="text-center">ID</th>
                                        <th class="text-center">用户ID</th>
                                        <th class="text-center">宝箱ID</th>
                                        <th class="text-center">礼物名称</th>
                                        <th class="text-center">礼物ID</th>
                                        <th class="text-center">创建时间</th>
                                        <th class="text-center">操作人</th>
                                        <th class="text-center">修改时间</th>
                                        <th class="text-center">修改人</th>
                                        <th class="text-center">状态</th>
                                        <th class="text-center">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {if condition="!empty($data)"}
                                    {volist name="data" id="list"}
                                    <tr>
                                        <td class="text-center id" >{$list.id}</td>
                                        <td class="text-center user_id">{$list.user_id}</td>
                                        <td class="text-center box_id">{$list.box_id}</td>
                                        <td class="text-center name">{$list.name}</td>
                                        <td class="text-center name" gift_id="{$list.gift_id}">{$list.gift_id}</td>
                                        <td class="text-center created" >{$list.created}</td>
                                        <td class="text-center create_user" >{$list.create_user}</td>
                                        <td class="text-center updated" >{$list.updated}</td>
                                        <td class="text-center update_user" >{$list.update_user}</td>
                                        <td class="text-center state" >{$list.stateDesc}</td>
                                        <td class="text-center ">
                                            {if condition="!empty($list.state == 1)"}
                                            <button type="button" class="btn btn-primary cancel" wid="{$list.id}">取消</button>
                                            {/if}
                                        </td>
                                    </tr>
                                    {/volist}
                                    {else}
                                    <tr class="no-records-found">
                                        <td colspan="8" class="text-center">没有找到匹配的记录</td>
                                    </tr>
                                    {/if}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {if condition = "$page.total_page >1"}
                        <div id="Paginator" style="text-align: center">
                            <ul id="pageLimit"></ul>
                        </div>
                        {/if}
                        <!-- End Example Events -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Panel Other -->
    </div>
</div>

<!--操作modal-->
<!--添加-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="addModalLabel">添加用户</h4>
            </div>
            <div class="modal-body">
                <form id='add_form' method="post">
                    <div class="form-group">
                        <label class='control-label'>用户id:</label>
                        <input type="text" class="form-control" placeholder="用户id" value="" name="user_id" required>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="control-label">宝箱类型：</label>
                            <select class="form-control " name="box_id"  required="" aria-required="true">
                                <option value="1">金宝箱</option>
                                <option value="2">银宝箱</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class='control-label'>礼物id:</label>
                        <input type="text" class="form-control" placeholder="礼物id" value="" name="gift_id" required>
                    </div>

                    <input type="hidden" value="/admin/box3/addUserSpecialGift" name="master_url">
                    <input type="hidden" value="{$token}" name="token">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="add_info()">保存</button>
            </div>
        </div>
    </div>
</div>


<input type="hidden" value="{$token}" name="token" id="token">
<!-- 全局js -->
{include file="../view/admin/common/jsHeader.html"}
<input type="hidden" value="{$page.page ? $page.page: 0}" id="page">
<input type="hidden" value="{$page.total_page ? $page.total_page: 0}" id="total_page">
<script src="/admin/js/fileinput/fileinput.js" type="text/javascript"></script>
<script src="/admin/js/fileinput/zh.js" type="text/javascript"></script>
<script src="/admin/js/plugins/toastr/toastr.min.js"></script>
<script src="/time/moment.min.js"></script>
<script src="/time/daterangepicker.min.js"></script>
<script src="/admin/js/date-select.js"></script>
<script>
    $('#search').on('click',function () {
        window.location.href = "/admin/box3/getUserSpecialGift?token=" + $('#token').val() + '&master_url=/admin/box3/getUserSpecialGift&demo='+$('#demo').val()+'&uid='+$('#uid').val()+'&type='+$('#type').val();
    })
    //分页
    $('#pageLimit').bootstrapPaginator({
        currentPage: $("#page").val(),
        totalPages: $("#total_page").val(),
        size: "normal",
        bootstrapMajorVersion: 3,
        alignment: "right",
        numberOfPages: '5',
        pageUrl: function (type, page, current) {
            //是每个分页码变成一个超链接
            return '?page=' + page + '&master_url=/admin/box3/getUserSpecialGift&token='+ $("#token").val()+'&demo='+$('#demo').val()+'&uid='+$('#uid').val()+'&type='+$('#type').val();
        },
        itemTexts: function (type, page, current) {
            switch (type) {
                case "first":
                    return "首页";
                case "prev":
                    return "上一页";
                case "next":
                    return "下一页";
                case "last":
                    return "末页";
                case "page":
                    return page;
            }
        }
    });

    //添加
    $('#add_gift').on('click',function(){
        $('#addModal').modal('show');
    });


    function add_info(){
        var add_info = $("#add_form").serializeArray();
        $.ajax({
            async: false,    //表示请求是否异步处理
            type: "post",    //请求类型
            url: "/admin/box3/addUserSpecialGift",//请求的 URL地址
            dataType: "json",//返回的数据类型
            data: add_info,
            success: function (rs) {
                console.log(rs)
                if (rs.code !== 200) {
                    toastr.warning(rs.msg);
                    return false;
                }
                toastr.success(rs.msg);
                setTimeout(location, 1000);   //延迟5秒刷新页面
            },
            error: function (rs) {
                toastr.warning('请求失败');
            }
        });
        function location() {
            window.location.href = window.location.href;
        }
        return false;
    }

    $(document).on('click','.cancel',function () {
        $.ajax({
            async: false,    //表示请求是否异步处理
            type: "post",    //请求类型
            url: "/admin/box3/cancelUserSpecialGift",//请求的 URL地址
            dataType: "json",//返回的数据类型
            data: {token:$('#token').val(),master_url:'/admin/box3/cancelUserSpecialGift',id:$(this).attr('wid')},
            success: function (rs) {
                if (rs.code !== 200) {
                    toastr.warning(rs.msg);
                    return false;
                }
                toastr.success(rs.msg);
                setTimeout(location, 1000);   //延迟5秒刷新页面
            },
            error: function (rs) {
                toastr.warning('请求失败');
            }
        });
        function location() {
            window.location.href = window.location.href;
        }
        return false;
    })
</script>
</body>
</html>


