<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mua语音 - 运营后台</title>
    <!--    全局css-->
    {include file="../view/admin/common/cssHeader.html"}
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <!-- Example Events -->
                    <div class="example-wrap">
                        <div class="example">
                            <table class="table table-hover table-responsive" id="data_table">
                                <thead>
                                <tr>
                                    <th class="text-center">ID</th>
                                    <th class="text-center">举报用户ID</th>
                                    <th class="text-center">举报用户昵称</th>
                                    <th class="text-center">被举报用户ID</th>
                                    <th class="text-center">被举报用户昵称</th>
                                    <th class="text-center">举报理由</th>
                                    <th class="text-center">举报时间</th>
                                </tr>
                                </thead>
                                <tbody>
                                {if condition="!empty($data)"}
                                {volist name="data" id="list"}
                                <tr>
                                    <td class="text-center">{$list.id}</td>
                                    <td class="text-center" onclick=on_user_item("{$list.user_id}",'/admin/memberItem')>{$list.user_id}</td>
                                    <td class="text-center">{$list.user_nickname}</td>
                                    <td class="text-center" onclick=on_user_item("{$list.to_uid}",'/admin/memberItem')>{$list.to_uid}</td>
                                    <td class="text-center">{$list.to_uid_nickname}</td>
                                    <td class="text-center">{$list.contents}</td>
                                    <td class="text-center">{$list.create_time}</td>
                                </tr>
                                {/volist}
                                {else}
                                <tr class="no-records-found">
                                    <td colspan="8" class="text-center">没有找到匹配的记录</td>
                                </tr>
                                {/if}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {if condition = "$page.total_page >1"}
                    <div id="Paginator" style="text-align: center">
                        <ul id="pageLimit"></ul>
                    </div>
                    {/if}
                    <!-- End Example Events -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Panel Other -->
</div>
{include file="../view/admin/common/userItem.html"}
<input type="hidden" value="{$page.page ? $page.page: 0}" id="page">
<input type="hidden" value="{$page.total_page ? $page.total_page: 0}" id="total_page">
<input type="hidden" value="{$token}" id="token">
<input type="hidden" value="{$user_role_menu_input}" id="user_role_menu">
<!-- 全局js -->
{include file="../view/admin/common/jsHeader.html"}
<style>
</style>
<script>
    $('#pageLimit').bootstrapPaginator({
        currentPage: $("#page").val(),
        totalPages: $("#total_page").val(),
        size: "normal",
        bootstrapMajorVersion: 3,
        alignment: "right",
        numberOfPages: '5',
        pageUrl: function (type, page, current) {
            //是每个分页码变成一个超链接
            return '?page=' + page + '&master_url=/admin/complaintsList&token=' + $("#token").val() + '&user_name=' + $("#search_name").val();
        },
        itemTexts: function (type, page, current) {
            switch (type) {
                case "first":
                    return "首页";
                case "prev":
                    return "上一页";
                case "next":
                    return "下一页";
                case "last":
                    return "末页";
                case "page":
                    return page;
            }
        }
    });

</script>

</body>

</html>
