<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/admin/layui/css/layui.css" media="all">
    <script src="/admin/js/jquery.min.js"></script>
    <style>
        .layui-table-cell {
            height: auto;
            overflow: visible;
            text-overflow: inherit;
            white-space: normal;
        }
    </style>
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>

<script type="text/html" id="editaction">
    <a class="layui-btn layui-btn-xs layui-btn-danger layui-btn-radius " lay-event="delconfig">
        <i class="layui-icon-left layui-icon layui-icon-delete"></i>删除</a>
</script>

<script type="text/html" id="addconfig">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add_template"><i class="layui-icon layui-icon-set"
                                                                           style="font-size:10px;"></i>添加配置
        </button>
    </div>
</script>
<div style="padding:5px;">
    <table id="datatable" lay-filter="test"></table>
</div>

<script src="/admin/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述 JS 路径需要改成你本地的 -->
<script>
    layui.use(['table', 'form', 'layer', 'laydate', 'jquery'], function () {

        var $ = layui.jquery
            , form = layui.form
            , laydate = layui.laydate
            , table = layui.table;

        //日期
        laydate.render({
            elem: '#date_b'
        });

        laydate.render({
            elem: '#date_e'
        });


        table.render({
            elem: '#datatable'
            , totalRow: true
            , even: true //开启隔行背景
            //, height: 420
            , toolbar: '#addconfig' //开启头部工具栏，并为其绑定左侧模板
            , url: '/admin/giftWallConfList?master_url=/admin/giftWallConfList&token={$token}&isRequest=1' //数据接口
            , page: false //开启分页
            , cols: [[ //表头
                {field: 'id', title: 'ID', width: '10%', templet: '#zizeng'}
                , {field: 'giftid', title: '礼物ID', width: '10%'}
                , {field: 'name', title: '礼物名称', width: '40%', align: 'left'}
                , {field: 'price', title: '礼物价值', width: '20%'}
                , {fixed: 'right', title: '操作', toolbar: '#editaction', width: '20%'}
            ]]
            , id: 'tablereload'
            , limits: [20, 50, 100]
            //, limit: 20 //每页默认显示的数量
            , limit: Number.MAX_VALUE
            , where: {}
            , done: function (res, curr, count) {
            }
        });


        var $ = layui.$, active = {
            reload: function () {
                //执行重载
                table.reload('tablereload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        //prop_id: $('#prop_id').val()
                    }
                });
            }
        };

        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });


        var $ = layui.$, active = {
            reload: function () {
                //执行重载
                table.reload('tablereload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        //prop_id: $('#prop_id').val()
                    }
                });
            }
        };

        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });


        //头工具栏事件
        table.on('toolbar(test)', function (obj) {
            switch (obj.event) {
                case 'add_template':
                    //页面层-自定义
                    $("#sendform")[0].reset();
                    $("#id").val(0);
                    layer.open({
                        type: 1,
                        title: "添加配置",
                        //closeBtn: true,
                        shift: 2,
                        area: ['400px', '220px'],
                        shadeClose: true,
                        content: $("#add-dialog"),
                        success: function (layero, index) {
                        },
                        yes: function () {
                        }
                    });

            }
        });


        //监听行工具事件
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            if (obj.event === 'delconfig') {
                var giftid = data.giftid
                layer.confirm('您确认要删除吗?', function(index){
                    console.log(data)
                    $.post("/admin/giftWallConfDel?master_url=/admin/giftWallConfDel&token={$token}", {giftid:giftid}, function (resp) {
                        resp = eval("(" + resp + ")");
                        if (resp.code != 0) {
                            layer.msg(resp.msg, {
                                time: 20000, //20s后自动关闭
                                btn: ['ok'],
                                btnAlign: 'c',
                            }, function () {
                                window.location.reload();
                            });
                        } else {
                            window.location.reload();
                        }
                    })
                });
            }

        });

        //监听提交
        form.on('submit(sendbuttion)', function (data) {
            var fields = $(data.form).serialize();
            $.post("/admin/giftWallConfAdd?master_url=/admin/giftWallConfAdd&token={$token}", fields, function (resp) {
                resp = eval("(" + resp + ")");
                layer.msg(resp.msg, {
                    time: 1000, //1s后自动关闭
                    //btn: ['ok'],
                    //btnAlign: 'c',
                }, function (index) {
                    //layer.close(index); //如果设定了yes回调，需进行手工关闭
                    //table.reload("test");
                    window.location.reload();
                });
            })
            return false;
        });



    });




    layui.use(['jquery'], function () {
        $('.J_menuItem').on('click', function () {
            parent.childMenu(this)
        });
    })


</script>

<script type="text/html" id="zizeng">
    {{d.LAY_TABLE_INDEX+1}}
</script>


<div id="add-dialog" style="display: none;padding:10px;">
    <form class="layui-form" action="" id="sendform">
        <input type="hidden" id="id" name="id">
        <div class="layui-form-item" style="margin-top:20px;">

            <div class="layui-inline">
                <label class="layui-form-label">礼物ID</label>
                <div class="layui-input-block">
                    <input type="text" id="giftid" name="giftid" required value="" lay-verify="number"
                           placeholder="礼物ID" autocomplete="off" class="layui-input">
                </div>
            </div>

        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="sendbuttion">立即提交</button>
            </div>
        </div>
    </form>

</div>


</body>
</html>
