<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mua语音 - 运营后台</title>
    <!--    全局css-->
    {include file="../view/admin/common/cssHeader.html"}
    <link href="/admin/css/fileinput/fileinput.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="/admin/css/plugins/toastr/toastr.min.css" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <!-- Example Events -->
                    <div class="example-wrap">
                        <div class="example">
                            <div class="btn-group hidden-xs form-inline">
                                <div class="form-group">
                                    <input type="text" value="{$start_time}" id="datetimeStart"  readonly class="form_datetime form-control input-outline">
                                </div>
                                &#12288
                                <button type="button" class="btn btn-outline btn-success" style="float:right;" id="daochu">
                                    <i aria-hidden="true"></i>导出
                                </button>
                                &#12288
                                <button type="button" class="btn btn-outline btn-success" style="float:right;" id="search">
                                    <i aria-hidden="true"></i>搜索
                                </button>
                            </div>
                            <div class="example">
                                <table class="table table-hover table-responsive" id="data_table">
                                    <thead>
                                    <tr>
                                        <th class="text-center">ID</th>
                                        <th class="text-center" >用户ID</th>
                                        <th class="text-center" >装扮ID</th>
                                        <th class="text-center" >礼物明细</th>
                                        <th class="text-center" >礼物价值</th>
                                        <th class="text-center" >礼物名称</th>
                                        <th class="text-center" >礼物图标</th>
                                        <th class="text-center" >抽奖时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {if condition="!empty($data)"}
                                    {volist name="data" id="list"}
                                    <tr>
                                        <td class="text-center">{$list.id}</td>
                                        <td class="text-center" >{$list.uid}</td>
                                        <td class="text-center" >{$list.giftid}</td>
                                        <td class="text-center" >{$list.content}</td>
                                        <td class="text-center" >{$list.coin}</td>
                                        <td class="text-center" >{$list.gift_name}</td>
                                        <td class="text-center" ><img width="50" src="{$list.gift_image}" alt=""></td>
                                        <td class="text-center" >{$list.addtime}</td>

                                    </tr>
                                    {/volist}
                                    {else}
                                    <tr class="no-records-found">
                                        <td colspan="9" class="text-center">没有找到匹配的记录</td>
                                    </tr>
                                    {/if}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {if condition = "$page.total_page >1"}
                        <div id="Paginator" style="text-align: center">
                            <ul id="pageLimit"></ul>
                        </div>
                        {/if}
                        <!-- End Example Events -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Panel Other -->
    </div>
    <!--操作modal-->
    <input type="hidden" value="{$page.page ? $page.page: 0}" id="page">
    <input type="hidden" value="{$page.total_page ? $page.total_page: 0}" id="total_page">
    <input type="hidden" value="{$token}" name="token" id="token">
    <!-- 全局js -->
    {include file="../view/admin/common/jsHeader.html"}
    <script src="/admin/js/datetimepicker/bootstrap-datetimepicker.js"></script>
    <script src="/admin/js/datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>
    <script>
        $('#pageLimit').bootstrapPaginator({
            currentPage: $("#page").val(),
            totalPages: $("#total_page").val(),
            size: "normal",
            bootstrapMajorVersion: 3,
            alignment: "right",
            numberOfPages: '5',
            pageUrl: function (type, page, current) {
                //是每个分页码变成一个超链接
                return '?page=' + page + '&master_url=/admin/giftFine&token=' + $("#token").val() + '&user_id=' + $("#user_id").val() + '&name=' + $("#name").val();
            },
            itemTexts: function (type, page, current) {
                switch (type) {
                    case "first":
                        return "首页";
                    case "prev":
                        return "上一页";
                    case "next":
                        return "下一页";
                    case "last":
                        return "末页";
                    case "page":
                        return page;
                }
            }
        });
        //搜索
        $('#search').click(function () {
            var start_time = $('#datetimeStart').val();
            window.location.href = "/admin/giftFine?token=" + $("#token").val() + '&start_time='+$("#datetimeStart").val()+'&master_url=/admin/giftFine&page=1'+'&start_time='+$("#datetimeStart").val();
        });
        $('#daochu').click(function () {
            var start_time = $('#datetimeStart').val();
            var token = $('#token').val();
            var page = $("#page").val();
            window.location.href = "/admin/giftFine?token=" + token + '&master_url=/admin/giftFine&page='+ page +'&start_time=' + start_time + '&daochu=1';
        })
        $("#datetimeStart").datetimepicker({
            weekStart: 1,
            todayBtn: true,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1,
            format: 'yyyy-mm-dd',
            minView: '3',
            language: 'zh-CN',
            autoclose: true,
            startDate: '-10y,-10m,-10d',
        }).on("click", function () {
            $("#datetimeStart").datetimepicker("setStartDate")
        });
        $("#datetimeEnd").datetimepicker({
            weekStart: 1,
            todayBtn: true,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1,
            format: 'yyyy-mm-dd ',
            minView: '3',
            language: 'zh-CN',
            autoclose: true,
            startDate: '-10y,-10m,-10d'
        }).on("click", function () {
            $("#datetimeEnd").datetimepicker("setEndDate")
        });
    </script>
</body>
</html>
