<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mua语音 - 运营后台</title>
    <!--    全局css-->
    {include file="../view/admin/common/cssHeader.html"}
    <link href="/admin/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="/admin/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/time/daterangepicker.css">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <!-- Example Events -->
                    <div class="example-wrap">
                        <div class="example">
                            <div class="btn-group hidden-xs form-inline">
                                <div class="form-group">
                                    <input type="text" value="{$demo}" id="demo" readonly class="form_datetime form-control input-outline" style="width:190px;">
                                </div>

                                &#12288
                                <button type="button" class="btn btn-outline btn-success" style="float:right;" id="daochu">
                                    <i aria-hidden="true"></i>导出
                                </button>
                                &#12288
                                <button type="button" class="btn btn-outline btn-success" style="float:right;" id="search">
                                    <i aria-hidden="true"></i>搜索
                                </button>
                                <h2>充值人数：{$count}</h2>
                            </div>
                            <div class="example">
                                <table class="table table-hover table-responsive" id="data_table">
                                    <thead>
                                    <tr>
                                        <th class="text-center" >用户ID</th>
                                        <th class="text-center" >人民币</th>
                                        <th class="text-center" >豆</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {if condition="!empty($data)"}
                                    {volist name="data" id="list"}
                                    <tr>
                                        <td class="text-center" >{$list.uid}</td>
                                        <td class="text-center" >{$list.rmb}</td>
                                        <td class="text-center" >{$list.coin}</td>
                                    </tr>
                                    {/volist}
                                    {else}
                                    <tr class="no-records-found">
                                        <td colspan="9" class="text-center">没有找到匹配的记录</td>
                                    </tr>
                                    {/if}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {if condition = "$page.total_page > 1"}
                        <div id="Paginator" style="text-align: center">
                            <ul id="pageLimit"></ul>
                        </div>
                        {/if}
                        <!-- End Example Events -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Panel Other -->
    </div>
    <!--操作modal-->
    <input type="hidden" value="{$token}" name="token" id="token">
    <!-- 全局js -->
    {include file="../view/admin/common/jsHeader.html"}
    <input type="hidden" value="{$funtion}" id="funtion">
    <input type="hidden" value="{$page.page ? $page.page: 0}" id="page">
    <input type="hidden" value="{$page.total_page ? $page.total_page: 0}" id="total_page">
    <script src="/admin/js/fileinput/fileinput.js" type="text/javascript"></script>
    <script src="/admin/js/fileinput/zh.js" type="text/javascript"></script>
    <script src="/admin/js/plugins/toastr/toastr.min.js"></script>
    <script src="/time/moment.min.js"></script>
    <script src="/time/daterangepicker.min.js"></script>
    <script src="/admin/js/date-select.js"></script>
    <script>

        $('#pageLimit').bootstrapPaginator({
            currentPage: $("#page").val(),
            totalPages: $("#total_page").val(),
            size: "normal",
            bootstrapMajorVersion: 3,
            alignment: "right",
            numberOfPages: '5',
            pageUrl: function (type, page, current) {
                //是每个分页码变成一个超链接
                return '?page=' + page + '&master_url=/admin/'+$('#funtion').val()+'&token=' + $("#token").val() +'&demo='+$('#demo').val();
            },
            itemTexts: function (type, page, current) {
                switch (type) {
                    case "first":
                        return "首页";
                    case "prev":
                        return "上一页";
                    case "next":
                        return "下一页";
                    case "last":
                        return "末页";
                    case "page":
                        return page;
                }
            }
        });
        //搜索
        $('#search').click(function () {
            var start_time = $('#datetimeStart').val();
            var end_time = $('#datetimeEnd').val();
            if(start_time > end_time){
                toastr.warning('开始时间不能大于结束时间');
                return false;
            }
            window.location.href = "/admin/userPay?token=" + $("#token").val() + '&start_time='+$("#datetimeStart").val()+'&end_time='+$("#datetimeEnd").val()
        });
        $('#daochu').click(function () {
            var start_time = $('#datetimeStart').val();
            var end_time = $('#datetimeEnd').val();
            var token = $('#token').val();
            if(start_time > end_time){
                toastr.warning('开始时间不能大于结束时间');
                return false;
            }
            window.location.href = "/admin/userPay?token=" + token + '&master_url=/admin/userPay&start_time=' + start_time + '&end_time=' + end_time + '&daochu=1';
        })
    </script>
</body>
</html>
