<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mua语音 - 运营后台</title>
    <!--    全局css-->
    {include file="../view/admin/common/cssHeader.html"}
    <link href="/admin/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="/admin/css/plugins/toastr/toastr.min.css" rel="stylesheet">


    <style>

        .form-control:focus {
            border-color: #66afe9;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
        }

        table {
            table-layout: fixed;
        }

        td {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

    </style>

</head>
<body class="gray-bg"><!--数据表格-->
<div class="wrapper wrapper-content animated fadeInRight" >
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <!-- Example Events -->
                    <div class="example-wrap">
                        <div class="example">
                            <table class="table table-hover table-responsive" id="data_table">
                                <thead>
                                <tr>
                                    <!--                                    <th class="text-center">ID</th>-->
                                    <th class="text-center">次留</th>
                                    <th class="text-center">三留</th>
                                    <th class="text-center">七留</th>
                                    <th class="text-center">付费次留</th>
                                    <th class="text-center">付费三留</th>
                                    <th class="text-center">付费七留</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="text-center name">{$data.ciliu}</td>
                                    <td class="text-center name">{$data.sanliu}</td>
                                    <td class="text-center name">{$data.qiliu}</td>
                                    <td class="text-center name">{$data.fufeiciliu}</td>
                                    <td class="text-center name">{$data.fufeisanliu}</td>
                                    <td class="text-center name">{$data.fufeiqiliu}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Panel Other -->
</div>

<input type="hidden" value="{$token}" name="token" id="token">
<input type="hidden" value="/admin/ossAttireFile" name="master_url" id="master_url">
<!-- 全局js -->
{include file="../view/admin/common/jsHeader.html"}
