<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mua语音 - 运营后台</title>
	<!--    全局css-->
	{include file="../view/admin/common/cssHeader.html"}
	<link href="/admin/css/bootstrap-datetimepicker.css" rel="stylesheet">
	<link href="/admin/css/plugins/toastr/toastr.min.css" rel="stylesheet">


	<style>
		.form-control:focus {
			border-color: #66afe9;
			outline: 0;
			-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
		}

		table {
			table-layout: fixed;
		}

		td {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	</style>

</head>

<body class="gray-bg">
	<!--数据表格-->
	<div class="wrapper wrapper-content animated fadeInRight">
		<!-- Panel Other -->
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<div class="row row-lg">
					<div class="col-sm-12">
						<!-- Example Events -->
						<div class="example-wrap">
							<div class="btn-group hidden-xs form-inline">
								<div class="form-group">
									渠道名称：<input class="form-control input-outline" type="text" placeholder="请输入渠道名称" value="{$channel_name}" id="channel_name">
								</div>
								&#12288
								<div class="form-group">
									审核状态：
									<select class="form-control" id='status' name='status'>
										<option value="-1">全部</option>
										<option value="1" {if condition="$status==1" } selected {/if}>通过</option>
										<option value="0" {if condition="$status==0" } selected {/if}>审核中 </option> </select> </div> &#12288 <div class="form-group">
											APP包类型：
											<select class="form-control" id='app_type' name='app_type'>
												<option value="">全部</option>
												{volist name="app_types" id="item"}
												<option value="{$key}" {if condition="$app_type==$key" } selected {/if}>{$item.name} </option> {/volist} </select> </div> &#12288 <button type="button" class="btn btn-outline btn-success" style="float:right;" id="search">
													<i aria-hidden="true"></i>搜索
													</button>
								</div>
								<div class="example">
									<div class="btn-group hidden-xs" id="exampleTableEventsToolbar" role="group">
										<button type="button" class="btn add btn-outline btn-success" id="add">
											<i class="glyphicon glyphicon-plus" aria-hidden="true"></i>添加渠道版本
										</button>
										<button type="button" class="btn  btn-outline btn-success" id="shuaxin">
											<i class="glyphicon glyphicon-plus" aria-hidden="true"></i>刷新
										</button>
										<!-- <button type="button" class="btn btn-outline btn-success"  id="daochu">
                                    <i aria-hidden="true"></i>导出
                                </button> -->
									</div>
									<div>
										<table id="data_table" style="width:100%;">
											<thead>
												<tr>
													<th class="text-center">ID</th>
													<th class="text-center">渠道名称</th>
													<th class="text-center">类型</th>
													<th class="text-center">状态</th>
													<th class="text-center">版本号</th>
													<th class="text-center">创建时间</th>
													<th class="text-center">修改时间</th>
													<th class="text-center">操作</th>
												</tr>
											</thead>
											<tbody>
												{if condition="!empty($list)"} {volist name="list" id="lists"}
												<tr>
													<td class="text-center id">{$lists.id}</td>
													<td class="text-center channel_name">{$lists.channel_name}</td>
													<td class="text-center app_type" app_type="{$lists.app_type}">
														{$app_types[$lists.app_type]['name'] ?? ''}
													</td>
													<td class="text-center status" typeval="{$lists.status}">
														{if condition="!empty($lists.status == 1)"} 通过 {else} 提审中 {/if}
													</td>
													<td class="text-center app_version">{$lists.app_version}</td>
													<td class="text-center create_time">{$lists.create_time}</td>
													<td class="text-center update_time">{$lists.update_time}</td>
													<td class="text-center">
														<div class="btn-group hidden-xs form-inline">
															<button class="btn btn-success save" pid="{$lists.id}">编辑</button>
														</div>
														{if condition="!empty($lists.status == 0)"}
														<div class="btn-group hidden-xs form-inline">
															<button class="btn btn-danger agree" pid="{$lists.id}">通过</button>
														</div>
														{/if}
									</div>
									</td>
									</tr>
									{/volist} {else}
									<tr class="no-records-found">
										<td colspan="7" class="text-center">没有找到匹配的记录</td>
									</tr>
									{/if}
									</tbody>
									</table>
								</div>
							</div>
						</div>
						{if condition = "$page.total_page >1"}
						<div id="Paginator" style="text-align: center">
							<ul id="pageLimit"></ul>
						</div>
						{/if}
						<!-- End Example Events -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Panel Other -->
	</div>
	<!--操作modal-->
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" onclick="empty()">&times;</span>
					</button>
					<h4 class="modal-title" id="editModalLabel">添加</h4>
				</div>
				<div class="modal-body edit-append">

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" onclick="edit_info()">保存</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="attireModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" onclick="empty()">&times;</span>
					</button>
					<h4 class="modal-title" id="attireModalLabel">编辑</h4>
				</div>
				<div class="modal-body attire-append">

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" id="modify">修改</button>
				</div>
			</div>
		</div>
	</div>
	{include file="../view/admin/common/confirmHtml.html"}
	<input type='hidden' value='0' id='agree-pid'>
	<input type="hidden" value="{$page.page ? $page.page: 0}" id="page">
	<input type="hidden" value="{$page.total_page ? $page.total_page: 0}" id="total_page">
	<input type="hidden" value="{$token}" name="token" id="token">
	<input type="hidden" value="/admin/ossAttireFile" name="master_url" id="master_url">
	<!-- 全局js -->
	{include file="../view/admin/common/jsHeader.html"}
	<script>
		var app_type_map = JSON.parse('<?php echo json_encode($app_types)?>');
		console.log(app_type_map);

		var app_types = '';
		$.each(app_type_map, function (index, el) {
			app_types += '<option value=\"' + index + '\" >' + el.name + '</option>\n'
		});

		//修改框追加
		$('.save').on('click', function () {
			$(".attire-append").empty();
			$(".attire-append").prepend(
				"<form id='save_form' method='post' >" +
				"<div class='form-group'>" +
				"<select class=\"form-control\" id='save-app-type' name='app_type'>\n" +
				app_types +
				"</select>" +
				"<input type='text' class='form-control' id='save-name' name='channel_name' placeholder=\"渠道名称\" value='' required='required'>" +
				"<input type='text' class='form-control' id='save-app-version' name='app_version' placeholder=\"版本号\" value='' required='required'>" +
				"<select class=\"form-control\" id='save-status' name='status'>\n" +
				"<option value=\"0\" >提审中</option>\n" +
				"<option value=\"1\" selected=\"selected\" >通过</option>\n" +
				"</select>" +
				"</div>" +

				"<input type='hidden' value='' id='save-pid' name='id'>" +
				"<input type='hidden' value='{$token}' name='token'>" +
				"<input type='hidden' value='/admin/versionAdd' id='master_url' name='master_url'>" +
				" </form>"
			);
			$('#save-pid').val($(this).attr('pid'));
			$("#save-name").val($(this).parents("tr").find(".channel_name").text());
			$("#save-app-version").val($(this).parents("tr").find(".app_version").text());
			$("#save-app-type option[value='" + $(this).parents("tr").find(".app_type").attr('app_typeval') + "']").attr("selected", "select");
			$('#attireModal').modal('show');
		});

		//修改按钮
		$('#modify').click(function () {
			var attire_info = $("#save_form").serializeArray();
			$.ajax({
				async: false, //表示请求是否异步处理
				type: "post", //请求类型
				url: "/admin/versionSave", //请求的 URL地址
				token: $("#token").val(),
				dataType: "json", //返回的数据类型
				data: attire_info,
				success: function (rs) {
					if (rs.code != 200) {
						toastr.warning(rs.desc);
						return false;
					}
					toastr.success(rs.desc);
					setTimeout(location, 1000); //延迟5秒刷新页面
				},
				error: function (rs) {
					toastr.warning('请求失败');
				}
			});

			function location() {
				window.location.href = window.location.href;
			}
			return false;

		})

		$('#pageLimit').bootstrapPaginator({
			currentPage: $("#page").val(),
			totalPages: $("#total_page").val(),
			size: "normal",
			bootstrapMajorVersion: 3,
			alignment: "right",
			numberOfPages: '5',
			pageUrl: function (type, page, current) {
				//是每个分页码变成一个超链接
				return '?page=' + page + '&master_url=/admin/versionList&token=' + $('#token').val() + '&master_url=/admin/versionList&page=' + page + '&app_type=' + $('#app_type').val() + '&status=' + $('#status').val() + '&stime=' + $('#stime').val() + '&etime=' + $('#etime').val() + '&channel_name=' + $('#channel_name').val();
			},
			itemTexts: function (type, page, current) {
				switch (type) {
					case "first":
						return "首页";
					case "prev":
						return "上一页";
					case "next":
						return "下一页";
					case "last":
						return "末页";
					case "page":
						return page;
				}
			}
		});

		//添加
		$('.add').on('click', function () {
			$(".edit-append").empty();
			$(".edit-append").prepend(
				"<form id='edit_form' method='post' >" +
				"<div class='form-group'>" +
				"<input type='text' class='form-control' name='channel_name[]' placeholder=\"渠道名称\" value='' required='required'>" +
				"<input type='text' class='form-control' name='app_version[]' placeholder=\"版本号\" value='' required='required'>" +
				"<select class=\"form-control\"  name='app_type[]'>\n" +
				app_types +
				"</select>" +
				"<select class=\"form-control\"  name='status[]'>\n" +
				"<option value=\"0\" selected=\"selected\">提审中</option>\n" +
				"<option value=\"1\" >通过</option>\n" +
				"</select>" +
				"<button id='addinput' class='addinput' type=\'button\' class=\'btn  btn-outline btn-success\' id=\'add_gift\'>" +
				" <i class=\'glyphicon glyphicon-plus\' aria-hidden=\'true\'></i>" +
				"</button>" +
				"</div>" +

				"<input type='hidden' value='{$token}' name='token'>" +
				"<input type='hidden' value='/admin/versionAdd' id='master_url' name='master_url'>" +
				" </form>"
			);
			$('#editModal').modal('show');
		});

		//追加
		$(document).on("click", ".addinput", function () {
			$(this).parent().append(
				"<div class='form-group'>" +
				"<input type='text' class='form-control' name='channel_name[]' placeholder=\"渠道名称\" value='' required='required'>" +
				"<input type='text' class='form-control' name='app_version[]' placeholder=\"版本号\" value='' required='required'>" +
				"<select class=\"form-control\"  name='app_type[]'>\n" +
				app_types +
				"</select>" +
				"<select class=\"form-control\"  name='status[]'>\n" +
				"<option value=\"0\" selected=\"selected\">提审中</option>\n" +
				"<option value=\"1\" >通过</option>\n" +
				"</select>" +
				"<button id='addinput' class='addinput' type=\'button\' class=\'btn  btn-outline btn-success\' id=\'add_gift\'>" +
				" <i class=\'glyphicon glyphicon-plus\' aria-hidden=\'true\'></i>" +
				"</button>" +
				"</div>"
			);
		});

		//添加执行
		function edit_info() {
			var data = $("#edit_form").serializeArray();
			$.ajax({
				async: false, //表示请求是否异步处理
				type: "post", //请求类型
				url: "/admin/versionAdd", //请求的 URL地址
				token: $("#token").val(),
				dataType: "json", //返回的数据类型
				data: data,
				success: function (rs) {
					if (rs.code != 200) {
						toastr.warning(rs.desc);
						return false;
					}
					toastr.success(rs.desc);
					setTimeout(location, 1000); //延迟5秒刷新页面

				},
				error: function (rs) {
					toastr.warning('请求失败');
				}
			});

			function location() {
				window.location.href = window.location.href;
			}

			return false;
		}

		$('.agree').on('click', function () {
			var pid = $(this).attr('pid');
			console.log(pid)
			$("#agree-pid").attr('value', pid);
			$('#confirmModal').modal('show');
		});

		$('#second-confirm').click(function () {
			var pid = $("#agree-pid").attr('value');
			$.ajax({
				async: false, //表示请求是否异步处理
				type: "post", //请求类型
				url: "/admin/versionAgree", //请求的 URL地址
				token: $("#token").val(),
				dataType: "json", //返回的数据类型
				data: {
					token: $('#token').val(),
					master_url: '/admin/versionAgree',
					id: pid
				},
				success: function (rs) {
					if (rs.code != 200) {
						toastr.warning(rs.desc);
						return false;
					}
					toastr.success(rs.desc);

					$("#agree-pid").attr('value', 0);
					setTimeout(location, 1000); //延迟5秒刷新页面
				},
				error: function (rs) {
					toastr.warning('请求失败');
				}
			});

			function location() {
				window.location.href = window.location.href;
			}

			return false;
		})

		$("#shuaxin").click(function () {
			window.location.href = "/admin/versionList?token=" + $('#token').val() + '&master_url=/admin/versionList';
		})
	</script>
	<script src="/admin/js/datetimepicker/bootstrap-datetimepicker.js"></script>
	<script src="/admin/js/datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>
	<script>
		$(document).on('click', '.RedpacketsDetail', function () {
			var red_id = $(this).parent().parent().children('.redid').text();
			window.location.href = "/admin/versionList?token=" + $("#token").val() + '&master_url=/admin/versionList' + '&id=' + red_id;
		})
		$('body').on('hidden.bs.modal', '#selectRate', function () {
			$("#member_tbody tr").remove();
		});


		$('#search').click(function () {
			var stime = $('#datetimeStart').val();
			var etime = $('#datetimeEnd').val();
			var token = $('#token').val();
			var page = $("#page").val();
			var app_type = $("#app_type").val();
			var status = $("#status").val();
			console.log(app_type)
			console.log(status)
			var channel_name = $("#channel_name").val();
			if (stime > etime) {
				toastr.warning('开始时间不能大于结束时间');
				return false;
			}
			window.location.href = "/admin/versionList?token=" + token + '&master_url=/admin/versionList&page=' + page + '&app_type=' + app_type + '&status=' + status + '&stime=' + stime + '&etime=' + etime + '&channel_name=' + channel_name;
		})

		$("#datetimeStart").datetimepicker({
			weekStart: 1,
			todayBtn: true,
			todayHighlight: 1,
			startView: 2,
			forceParse: 0,
			showMeridian: 1,
			format: 'yyyy-mm-dd 00:00:00',
			minView: '3',
			language: 'zh-CN',
			autoclose: true,
			startDate: '-10y,-10m,-10d'
		}).on("click", function () {
			$("#datetimeStart").datetimepicker("setStartDate")
		});
		$("#datetimeEnd").datetimepicker({
			weekStart: 1,
			todayBtn: true,
			todayHighlight: 1,
			startView: 2,
			forceParse: 0,
			showMeridian: 1,
			format: 'yyyy-mm-dd 23:59:59',
			minView: '3',
			language: 'zh-CN',
			autoclose: true,
			startDate: '-10y,-10m,-10d'
		}).on("click", function () {
			$("#datetimeEnd").datetimepicker("setEndDate")
		});
	</script>