<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mua语音 - 运营后台</title>
    <!--    全局css-->
    {include file="../view/admin/common/cssHeader.html"}
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <!-- Example Events -->
                    <div class="example-wrap">
                        <div class="example">
                            {if condition="in_array('/admin/addYinGiftUserAssign',$user_role_menu)"}
                            <div class="btn-group hidden-xs" id="exampleTableEventsToolbar" role="group">
                                <button type="button" class="btn btn-outline btn-success" id="addYinGiftUserAssign">
                                    <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>指定用户
                                </button>
                            </div>
                            {/if}
                            <table class="table table-hover table-responsive" id="data_table">
                                <thead>
                                <tr>
                                    <th class="text-center">Id</th>
                                    <th class="text-center">指定用户Id</th>
                                    <th class="text-center">指定用户昵称</th>
                                    <th class="text-center">指定礼物Id</th>
                                    <th class="text-center">指定礼物名称</th>
                                    <th class="text-center">中奖状态</th>
                                    <th class="text-center">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {if condition="!empty($data)"}
                                {volist name="data" id="list"}
                                <tr>
                                    <td class="text-center" id='id'>{$list.id}</td>
                                    <td class="text-center" onclick=on_user_item("{$list.user_id}",'/admin/memberItem')>{$list.user_id}</td>
                                    <td class="text-center" id='nick_name'>{$list.nick_name}</td>
                                    <td class="text-center">{$list.gift_id}</td>
                                    <td class="text-center" id='gift_name'>{$list.gift_name}</td>
                                    <td class="text-center">{$list.is_obtain}</td>
                                    <td class="text-center">
                                        {if condition="in_array('/admin/delYinUserToGiftAssign',$user_role_menu) &&
                                        $list.status == '' && $list.is_obtain == '未中奖'"}
                                        <button class="btn btn-success del_info">取消</button>
                                        {/if}
                                    </td>
                                </tr>
                                {/volist}
                                {else}
                                <tr class="no-records-found">
                                    <td colspan="7" class="text-center">没有找到匹配的记录</td>
                                </tr>
                                {/if}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {if condition = "$page.total_page >1"}
                    <div id="Paginator" style="text-align: center">
                        <ul id="pageLimit"></ul>
                    </div>
                    {/if}
                    <!-- End Example Events -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Panel Other -->
</div>

<!--指定用户-->
<div class="modal fade" id="addYin" tabindex="-1" role="dialog" aria-labelledby="addYinGiftUserAssign">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="addGuildModalLabel">指定用户砸银箱子中奖</h4>
            </div>
            <div class="modal-body">
                <form id='add_form' method="post">
                    <div class="form-group">
                        <label class="control-label">指定中奖礼物Id:</label>
                        <input type="text" class="form-control" name='gift_id' required="required"
                               oninput="this.value = this.value.replace(/[^0-9]/g, '');">
                    </div>
                    <div class="form-group">
                        <label class="control-label">指定中奖用户Id:</label>
                        <input type="text" class="form-control" name='user_id' required="required"
                               oninput="this.value = this.value.replace(/[^0-9]/g, '');">
                    </div>
                    <input type="hidden" name="token" value="{$token}" id="token">
                    <input type="hidden" name="master_url" value="/admin/addYinGiftUserAssign">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="add_info()">保存</button>
            </div>
        </div>
    </div>
</div>
<!--取消指定用户-->
<div class="modal fade" id="del_info">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>取消操作</h3>
            </div>
            <div class="modal-body" style="text-align: center">
                <i class="fa fa-trash-o" id="del_msg"></i>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">关闭</button>
                <button class="btn btn-danger" data-btn-danger="modal" onclick="del_info()">确认</button>
            </div>
        </div>
    </div>
</div>
{include file="../view/admin/common/userItem.html"}
<input type="hidden" value="{$page.page ? $page.page: 0}" id="page">
<input type="hidden" value="{$page.total_page ? $page.total_page: 0}" id="total_page">
<input type="hidden" value="" id="to_id">
<input type="hidden" value="{$user_role_menu_input}" id="user_role_menu">
<!-- 全局js -->
{include file="../view/admin/common/jsHeader.html"}
<style>
</style>
<script>
    $('#addYinGiftUserAssign').click(function () {
        $('#addYin').modal("show")
    });

    $('#pageLimit').bootstrapPaginator({
        currentPage: $("#page").val(),
        totalPages: $("#total_page").val(),
        size: "normal",
        bootstrapMajorVersion: 3,
        alignment: "right",
        numberOfPages: '5',
        pageUrl: function (type, page, current) {
            //是每个分页码变成一个超链接
            return '?page=' + page + '&master_url=/admin/getYinUserToGiftLists&token=' + $("#token").val();
        },
        itemTexts: function (type, page, current) {
            switch (type) {
                case "first":
                    return "首页";
                case "prev":
                    return "上一页";
                case "next":
                    return "下一页";
                case "last":
                    return "末页";
                case "page":
                    return page;
            }
        }
    });

    $('.del_info').click(function () {
        var id = $(this).parents("tr").find("#id").text();
        $("#to_id").val(id);
        var nick_name = $(this).parents("tr").find("#nick_name").text();
        var gift_name = $(this).parents("tr").find("#gift_name").text();
        $('#del_info').modal('show')
        $("#del_msg").html(' 您确定要取消指定用户: <h style="color: #67b168">' + nick_name + '</h> 砸中指定礼物 <h style="color: orangered">' + gift_name + ' </h>? ')
    })

    function add_info() {
        var add_info = $("#add_form").serializeArray();
        if (add_info[0]['value'] == '') {
            toastr.warning('指定中奖礼物Id不可为空');
            return false;
        }
        if (add_info[1]['value'] == '') {
            toastr.warning('指定中奖用户Id不可为空');
            return false;
        }
        $.ajax({
            async: false,    //表示请求是否异步处理
            type: "post",    //请求类型
            url: "/admin/addYinGiftUserAssign",//请求的 URL地址
            dataType: "json",//返回的数据类型
            data: add_info,
            success: function (rs) {
                if (rs.code !== 200) {
                    toastr.warning(rs.msg);
                    return false;
                }
                toastr.success(rs.msg);
                setTimeout(location, 1000);   //延迟5秒刷新页面

            },
            error: function (rs) {
                toastr.warning('请求失败');
            }
        });

        function location() {
            window.location.href = window.location.href;
        }
    }
    
    function del_info() {
        var id = $("#to_id").val();
        var master_url = '/admin/delYinUserToGiftAssign'
        var token = $('#token').val()
        $.ajax({
            async: false,    //表示请求是否异步处理
            type: "post",    //请求类型
            url: "/admin/delYinUserToGiftAssign",//请求的 URL地址
            dataType: "json",//返回的数据类型
            data: {id: id, master_url: master_url, token: token},
            success: function (rs) {
                if (rs.code !== 200) {
                    toastr.warning(rs.msg);
                    return false;
                }
                toastr.success(rs.msg);
                setTimeout(location(), 1000);   //延迟5秒刷新页面
            },
            error: function (rs) {
                toastr.warning('请求失败');
            }
        });

        function location() {
            window.location.href = window.location.href;
        }

        return false;
    }
</script>

</body>

</html>
