<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Mua语音 - 运营后台</title>
<!--    全局css-->
{include file="../view/admin/common/cssHeader.html"}
<link href="/admin/css/plugins/toastr/toastr.min.css" rel="stylesheet">
<link href="/admin/css/bootstrap-datetimepicker.css" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <!-- Example Events -->
                    <div class="example-wrap">
                        {if condition="in_array('/admin/exitMonitoring',$user_role_menu)"}
                        <div class="pull-left search form-inline">
                            <span style="font-weight: bold;">解锁青少年模式：</span>
                            <input class="form-control input-outline" type="text" id="search_id" value="{$uid}"
                                   oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                                   placeholder="请输入用户Id">
                            <button type="button" class=" btn btn-primary" id="search">搜索</button>
                        </div>
                        {/if}
                        <div class="example">
                            <table class="table table-hover table-responsive" id="data_table">
                                <thead>
                                <tr>
                                    <th class="text-center">序号</th>
                                    <th class="text-center">用户ID</th>
                                    <th class="text-center">用户昵称</th>
                                    <th class="text-center">密码</th>
                                    <th class="text-center">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {if condition="!empty($list)"}
                                {volist name="list" id="lists"}
                                <tr>
                                    <td class="text-center mid" >{$lists.monitoring_id}</td>
                                    <td class="text-center user_id">{$lists.user_id}</td>
                                    <td class="text-center nickname">{$lists.nickname}</td>
                                    <td class="text-center notice_content">{$lists.pwd}</td>
                                    <td class="text-center">
                                    {if condition="in_array('/admin/exitMonitoring',$user_role_menu)"}
                                        <button class="btn btn-success del" uid="{$lists.user_id}">删除并解锁</button>
<!--                                        {if $lists.monitoring_status == 1 || $lists.parents_status == 1}-->
<!--                                        <span>待审核</span><br>-->
<!--                                        <button class="btn btn-success open-lock">解锁</button>-->
<!--                                        <button class="btn btn-success lock">拒绝</button>-->
<!--                                        {else}-->
<!--                                        <span class="text-center" style="color: #1ab394">已解锁</span>-->
<!--                                        {/if}-->
                                    {/if}
                                    </td>
                                </tr>
                                {/volist}
                                {else}
                                <tr class="no-records-found">
                                    <td colspan="8" class="text-center">没有找到匹配的记录</td>
                                </tr>
                                {/if}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {if condition = "$page.total_page >1"}
                    <div id="Paginator" style="text-align: center">
                        <ul id="pageLimit"></ul>
                    </div>
                    {/if}
                    <!-- End Example Events -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--删除公告-->
<div class="modal fade" id="del_notice_model">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>删除操作</h3>
            </div>
            <div class="modal-body" style="text-align: center">
                <i class="fa fa-trash-o" id="del_notice_model_msg"></i>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">关闭</button>
                <button class="btn btn-danger" data-btn-danger="modal" onclick="del_model_on()">确认</button>
            </div>
        </div>
    </div>
</div>
<!--拒绝-->
<div class="modal fade" id="lock_model">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>删除操作</h3>
            </div>
            <div class="modal-body" style="text-align: center">
                <i class="fa fa-trash-o" id="lock_model_msg"></i>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">关闭</button>
                <button class="btn btn-danger" data-btn-danger="modal" onclick="lock_model_on()">确认</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" value="{$page.page ? $page.page: 0}" id="page">
<input type="hidden" value="{$page.total_page ? $page.total_page: 0}" id="total_page">
<input type="hidden" name="token" value="{$token}" id="tokens">
<input type="hidden" value="" id="user_id">
<input type="hidden" value="" id="mid">
<!-- 全局js -->
{include file="../view/admin/common/jsHeader.html"}
<script src="/admin/js/datetimepicker/bootstrap-datetimepicker.js"></script>
<script src="/admin/js/datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/admin/js/trap/fileinput.js" type="text/javascript"></script>
<script src="/admin/js/trap/fileinput_locale_zh.js" type="text/javascript"></script>

<style>
</style>
<script>
    // 分页
    $('#pageLimit').bootstrapPaginator({
        currentPage: $("#page").val(),
        totalPages: $("#total_page").val(),
        size: "normal",
        bootstrapMajorVersion: 3,
        alignment: "right",
        numberOfPages: '5',
        pageUrl: function (type, page, current) {
            //是每个分页码变成一个超链接
            return '?page=' + page + '&master_url=/admin/monitoringList&token=' + $("#tokens").val();
        },
        itemTexts: function (type, page, current) {
            switch (type) {
                case "first":
                    return "首页";
                case "prev":
                    return "上一页";
                case "next":
                    return "下一页";
                case "last":
                    return "末页";
                case "page":
                    return page;
            }
        }
    });

    $("#search").click(function(){
        var user_id = $("#search_id").val();
        if (isNaN(user_id)) {
            toastr.warning('请输入正确的Id');
            return false;
        }
        var token = $('#tokens').val();
        window.location.href = "/admin/monitoringList?token=" + token + '&master_url=/admin/monitoringList&page=1&user_id=' + user_id
    })
    //解锁
    $(".open-lock").click(function(){
        var uid = $(this).parents("tr").find(".user_id").text();
        $("#user_id").val(uid);
        $('#del_notice_model').modal('show');
        $("#del_notice_model_msg").html('确定解除此用户的监控模式吗？用户ID为'+uid);
    })
    function del_model_on() {
        var user_id = $("#user_id").val();
        var master_url = '/admin/exitMonitoring';
        var token = $('#tokens').val();
        $.ajax({
            async: false,    //表示请求是否异步处理
            type: "post",    //请求类型
            url: "/admin/exitMonitoring",//请求的 URL地址
            dataType: "json",//返回的数据类型
            data: {user_id: user_id, master_url: master_url, token: token},
            success: function (rs) {
                if (rs.code !== 200) {
                    toastr.warning(rs.msg);
                    return false;
                }
                toastr.success(rs.msg);
                setTimeout(location, 1000);   //延迟5秒刷新页面
            },
            // error: function (rs) {
            //     toastr.warning(rs.msg);
            //     return false;
            // }
        });
        function location() {
            window.location.href = window.location.href;
        }
        return false;
    }

    //拒绝
    $(".lock").click(function(){
        var uid = $(this).parents("tr").find(".user_id").text();
        $("#user_id").val(uid);
        $('#lock_model').modal('show');
        $("#lock_model_msg").html('确定拒绝此用户ID为'+uid+'的请求吗？');
    })

    function lock_model_on() {
        var user_id = $("#user_id").val();
        var master_url = '/admin/noLock';
        var token = $('#tokens').val();
        $.ajax({
            async: false,    //表示请求是否异步处理
            type: "post",    //请求类型
            url: "/admin/noLock",//请求的 URL地址
            dataType: "json",//返回的数据类型
            data: {user_id: user_id, master_url: master_url, token: token},
            success: function (rs) {
                if (rs.code !== 200) {
                    toastr.warning(rs.msg);
                    return false;
                }
                toastr.success(rs.msg);
                setTimeout(location, 1000);   //延迟5秒刷新页面
            },
            error: function (rs) {
                toastr.warning(rs.msg);
                return false;
            }
        });
        function location() {
            window.location.href = window.location.href;
        }
        return false;
    }

    $('.del').click(function () {
        var r = confirm("确认删除吗？")
        if (r == true) {
            var uid = $(this).attr('uid')
            var master_url = '/admin/noLock';
            var token = $('#tokens').val();
            $.ajax({
                async: false,    //表示请求是否异步处理
                type: "post",    //请求类型
                url: "/admin/delMonitoring",//请求的 URL地址
                dataType: "json",//返回的数据类型
                data: {user_id: uid, master_url: master_url, token: token},
                success: function (rs) {
                    if (rs.code !== 200) {
                        toastr.warning(rs.msg);
                        return false;
                    }
                    toastr.success(rs.msg);
                    setTimeout(location, 1000);   //延迟5秒刷新页面
                },
                // error: function (rs) {
                //     toastr.warning(rs.msg);
                //     return false;
                // }
            });
            function location() {
                window.location.href = window.location.href;
            }
            return false;
        } else {
            window.location.href = window.location.href;
        }


    })
</script>

</body>

</html>
