<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mua语音 - 运营后台</title>
    <!--    全局css-->
    {include file="../view/admin/common/cssHeader.html"}
    <link href="/admin/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="/admin/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/time/daterangepicker.css">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">

    <!-- Panel Other -->
    <div class="ibox float-e-margins">

        <div class="ibox-content">

            <div class="row row-lg">
                <div class="col-sm-12">
                    <!-- Example Events -->
                    <div class="example-wrap">
                        <div class="btn-group hidden-xs form-inline">
                            <button type="button" class="btn editGift btn-outline btn-success" id="add_gift">
                                <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>添加房间
                            </button>

                        </div>
                        <div class="example">
                            <table class="table table-hover table-responsive" id="data_table">
                                <thead>
                                <tr>
                                    <th class="text-center">房间ID</th>
                                    <th class="text-center">房间昵称</th>
                                    <th class="text-center">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {if condition="!empty($data)"}
                                {volist name="$data" id="data"}
                                <tr>
                                    <td class="text-center">{$data.id}</td>
                                    <td class="text-center">{$data.name}</td>
                                    <td class="text-center"><button style="background-color:#11e592" type="button" rid="{$data.id}" class="btn btn-primary del">删除</button></td>
                                </tr>
                                {/volist}
                                {else}
                                <tr class="no-records-found">
                                    <td colspan="9" class="text-center">没有找到匹配的记录</td>
                                </tr>
                                {/if}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <!-- End Example Events -->
                <!--添加-->
                <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" onclick="empty()">&times;</span>
                                </button>
                                <h4 class="modal-title" id="editModalLabel">编辑装扮信息</h4>
                            </div>
                            <div class="modal-body edit-append">

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" >关闭</button>
                                <button type="button" class="btn btn-primary" onclick="edit_info()">保存</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Panel Other -->
</div>
<input type="hidden" value="{$token}" name="token" id="token">
<!-- 全局js -->
{include file="../view/admin/common/jsHeader.html"}
<script src="/admin/js/datetimepicker/bootstrap-datetimepicker.js"></script>
<script src="/admin/js/datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>

</body>
<script>
    //添加
    $('.editGift').on('click',function(){
        $(".edit-append").empty();
        $(".edit-append").prepend(
            "<form id='edit_form' method='post' >"+
            "<div class='form-group'>"+
            "<input type='text' class='form-control price' placeholder='房间ID' name='rid'  value='' required='required'>"+
            "</div>"+

            "<input type='hidden' value='{$token}' name='token'>"+
            "<input type='hidden' value='/admin/AddRandomlyMatchedRoom' id='master_url' name='master_url'>"+
            " </form>"
        );
        $('#editModal').modal('show');
    });
    //添加执行
    function edit_info(){
        var edit_info = $("#edit_form").serializeArray();
        $.ajax({
            async: false,    //表示请求是否异步处理
            type: "post",    //请求类型
            url: "/admin/AddRandomlyMatchedRoom",//请求的 URL地址
            token: $("#token").val(),
            dataType: "json",//返回的数据类型
            data: edit_info,
            success: function (rs) {
                if (rs.code != 200) {
                    toastr.warning(rs.msg);
                    return false;
                }
                toastr.success(rs.msg);
                setTimeout(location, 1000);   //延迟5秒刷新页面

            },
            // error: function (rs) {
            //     toastr.warning('请求失败');
            // }
        });
        function location() {
            window.location.href = window.location.href;
        }
        return false;
    }
    //删除
    $('.del').on('click',function () {
        var rid = $(this).attr('rid')
        console.log(rid)
        $.ajax({
            async: false,    //表示请求是否异步处理
            type: "post",    //请求类型
            url: "/admin/delRandomlyMatchedRoom",//请求的 URL地址
            token: $("#token").val(),
            dataType: "json",//返回的数据类型
            data: {rid:rid,token:$("#token").val(),master_url:'/admin/delRandomlyMatchedRoom'},
            success: function (rs) {
                if (rs.code != 200) {
                    toastr.warning(rs.msg);
                    return false;
                }
                toastr.success(rs.msg);
                setTimeout(location, 1000);   //延迟5秒刷新页面

            },
            // error: function (rs) {
            //     toastr.warning('请求失败');
            // }
        });
        function location() {
            window.location.href = window.location.href;
        }
        return false;
    })
</script>
</html>
