<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mua语音 - 运营后台</title>
	<!--    全局css-->
	{include file="../view/admin/common/cssHeader.html"}
	<link href="/admin/css/bootstrap-datetimepicker.css" rel="stylesheet">
	<link href="/admin/css/plugins/toastr/toastr.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/time/daterangepicker.css">

	<style>
		.form-control:focus {
			border-color: #66afe9;
			outline: 0;
			-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
		}
	</style>

</head>

<body class="gray-bg">
	<div class="ibox-content">
		<div class="row row-lg">
			<div class="modal-dialog" role="document" style="width:900px;">
				<div class="example-wrap">
					<!-- 导航 -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
								data-toggle="tab">
								<h4 class="modal-title">模拟恋爱</h4>
							</a>
						</li>
						<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
								<h4 class="modal-title">热门房间</h4>
							</a>
						</li>
						<li role="presentation"><a href="#messages" aria-controls="messages" role="tab"
								data-toggle="tab">
								<h4 class="modal-title">派对房间</h4>
							</a>
						</li>
						<li role="presentation"><a href="#firstPage" aria-controls="firstPage" role="tab"
								data-toggle="tab">
								<h4 class="modal-title">首页推荐位
								</h4>
							</a>
						</li>
						<li role="presentation"><a href="#enjoy" aria-controls="enjoy" role="tab" data-toggle="tab">
								<h4 class="modal-title">娱乐页推荐位</h4>
							</a>
						</li>
						<li role="presentation"><a href="#newuserRoom" aria-controls="newuserRoom" role="tab" data-toggle="tab">
							<h4 class="modal-title">新用户匹配厅</h4>
						</a>
						<li role="presentation"><a href="#olduserRoom" aria-controls="olduserRoom" role="tab" data-toggle="tab">
							<h4 class="modal-title">老用户匹配厅</h4>
						</a>
						</li>
					</ul>
					<!-- 带显示效果的内容 -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="home">
							<div class="modal-content">
								<div class="modal-body attire-append">
									<form id='edit_form_1' method='post'>
										<label class='control-label'>房间ID:</label>
										<div class='form-group'>
											{if condition="isset($list.1)"}
											{volist name="list.1" id="room"}
											<input type='text' class='form-control timeSelector1'
												oninput="this.value = this.value.replace(/[^0-9]/g, '');" name='room[]'
												value='{$room}' required='required'>
											{/volist}
											{/if}
										</div>
										<button class='addinput' type='button' class='btn  btn-outline btn-success'>
											<i class='glyphicon glyphicon-plus' aria-hidden='true'></i>
										</button>
										<button class='delinput' type='button' class='btn  btn-outline btn-success'>
											<i class='glyphicon glyphicon-minus' aria-hidden='true'></i>
										</button>
										<input type='hidden' value='/admin/roomHomepageSave' name='master_url'>
										<input type='hidden' value='{$token}' name='token'>
										<input type='hidden' value='1' name='action'>
									</form>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary"
										onclick="save('edit_form_1')">保存</button>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="profile">
							<div class="modal-content">
								<div class="modal-body attire-append">
									<form id='edit_form_2' method='post'>
										<label class='control-label'>房间ID:</label>
										<div class='form-group'>
											{if condition="isset($list.2)"}
											{volist name="list.2" id="room"}
											<input type='text' class='form-control timeSelector1'
												oninput="this.value = this.value.replace(/[^0-9]/g, '');" name='room[]'
												value='{$room}' required='required'>
											{/volist}
										</div>
										{/if}
										<button class='addinput' type='button' class='btn  btn-outline btn-success'>
											<i class='glyphicon glyphicon-plus' aria-hidden='true'></i>
										</button>
										<button class='delinput' type='button' class='btn  btn-outline btn-success'>
											<i class='glyphicon glyphicon-minus' aria-hidden='true'></i>
										</button>
										<input type='hidden' value='/admin/roomHomepageSave' name='master_url'>
										<input type='hidden' value='{$token}' name='token'>
										<input type='hidden' value='2' name='action'>
									</form>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary"
										onclick="save('edit_form_2')">保存</button>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="messages">
							<div class="modal-content">
								<div class="modal-body attire-append">
									<form id='edit_form_3' method='post'>
										<div class='form-group'>
											<table>
												<thead>
													<th style="width: 200px;">房间ID</th>
													<th style="width: 200px;">活跃值</th>
												</thead>
												<tbody>
													{if condition="!empty($roomPartyActiveCounts)"}
													{volist name="roomPartyActiveCounts" id="room"}
													<tr>
														<td><input type='text' class='form-control timeSelector1'
																oninput="this.value = this.value.replace(/[^0-9]/g, '');"
																name='room[]' value='{$key}' required='required'></td>
														<td><input type='text' class='form-control timeSelector1'
																name='count[]' value='{$room}' required='required'></td>
													</tr>
													{/volist}
													{/if}
												</tbody>
											</table>
										</div>
										<button class='addinputTwo' type='button' class='btn  btn-outline btn-success'>
											<i class='glyphicon glyphicon-plus' aria-hidden='true'></i>
										</button>
										<button class='delinputTwo' type='button' class='btn  btn-outline btn-success'>
											<i class='glyphicon glyphicon-minus' aria-hidden='true'></i>
										</button>
										<input type='hidden' value='/admin/roomHomepageSave' name='master_url'>
										<input type='hidden' value='{$token}' name='token'>
										<input type='hidden' value='3' name='action'>
									</form>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary"
										onclick="save('edit_form_3')">保存</button>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="firstPage">
							<div class="modal-content">
								<div class="modal-body attire-append">
									<form id='edit_form_4' method='post'>
										<div class='form-group'>
											<table>
												<thead>
													<th style="width: 200px;">房间ID</th>
													<th style="width: 200px;">基础活跃值</th>
													<th style="width: 200px;">真实活跃值</th>
												</thead>
												<tbody>
													{if condition="!empty($homePageCounts)"}
													{volist name="homePageCounts" id="room"}
													<tr>
														<td><input type='text' class='form-control timeSelector1'
																oninput="this.value = this.value.replace(/[^0-9]/g, '');"
																name='room[]' value='{$key}' required='required'></td>
														<td><input type='text' class='form-control timeSelector1'
																name='count[]' value='{$room.init}' required='required'>
														</td>
														<td style="padding-left: 15px;"><span>{$room.real}</span></td>
													</tr>
													{/volist}
													{/if}
												</tbody>
											</table>
										</div>
										<button class='addinputTwo' type='button' class='btn  btn-outline btn-success'>
											<i class='glyphicon glyphicon-plus' aria-hidden='true'></i>
										</button>
										<button class='delinputTwo' type='button' class='btn  btn-outline btn-success'>
											<i class='glyphicon glyphicon-minus' aria-hidden='true'></i>
										</button>
										<input type='hidden' value='/admin/roomHomepageSave' name='master_url'>
										<input type='hidden' value='{$token}' name='token'>
										<input type='hidden' value='4' name='action'>
									</form>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary"
										onclick="save('edit_form_4')">保存</button>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="enjoy">
							<div class="modal-content">
								<div class="modal-body attire-append">
									<form id='edit_form_5' method='post'>
										<div class='form-group'>
											<table>
												<thead>
													<th style="width: 200px;">房间ID</th>
													<th style="width: 200px;">基础活跃值</th>
													<th style="width: 200px;">真实活跃值</th>
												</thead>
												<tbody>
													{if condition="!empty($enjoyCounts)"}
													{volist name="enjoyCounts" id="room"}
													<tr>
														<td><input type='text' class='form-control timeSelector1'
																oninput="this.value = this.value.replace(/[^0-9]/g, '');"
																name='room[]' value='{$key}' required='required'></td>
														<td><input type='text' class='form-control timeSelector1'
																name='count[]' value='{$room.init}' required='required'>
														</td>
														<td style="padding-left: 15px;"><span>{$room.real}</span></td>
													</tr>
													{/volist}
													{/if}
												</tbody>
											</table>
										</div>
										<button class='addinputTwo' type='button' class='btn  btn-outline btn-success'>
											<i class='glyphicon glyphicon-plus' aria-hidden='true'></i>
										</button>
										<button class='delinputTwo' type='button' class='btn  btn-outline btn-success'>
											<i class='glyphicon glyphicon-minus' aria-hidden='true'></i>
										</button>
										<input type='hidden' value='/admin/roomHomepageSave' name='master_url'>
										<input type='hidden' value='{$token}' name='token'>
										<input type='hidden' value='5' name='action'>
									</form>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary"
										onclick="save('edit_form_5')">保存</button>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="newuserRoom">
							<div class="modal-content">
								<div class="modal-body attire-append">
									<form id='edit_form_6' method='post'>
										<div class='form-group'>
											<table>
												<thead>
												<th style="width: 200px;">房间ID</th>
												<th style="width: 100px;">排序</th>
												<th style="width: 400px;">欢迎语</th>
												</thead>
												<tbody>
												{if condition="!empty($newUserRoom)"}
												{volist name="newUserRoom" id="room"}
												<tr>
													<td><input type='text' class='form-control timeSelector1'
															   oninput="this.value = this.value.replace(/[^0-9]/g, '');"
															   name='room[]' value='{$room.room_id}' required='required'></td>
													<td><input type='text' class='form-control timeSelector1'
															   oninput="this.value = this.value.replace(/[^0-9]/g, '');if(this.value >100)this.value=100"
															   name='sort[]' value='{$room.sort}' required='required'></td>
													<td><input type='text' class='form-control timeSelector1'
															   name='msg[]' value='{$room.msg}' required='required' maxlength="15"></td>
												</tr>
												{/volist}
												{/if}
												</tbody>
											</table>
										</div>
										<button class='addinputThree' type='button' class='btn  btn-outline btn-success'>
											<i class='glyphicon glyphicon-plus' aria-hidden='true'></i>
										</button>
										<button class='delinputTwo' type='button' class='btn  btn-outline btn-success'>
											<i class='glyphicon glyphicon-minus' aria-hidden='true'></i>
										</button>
										<input type='hidden' value='/admin/roomHomepageSave' name='master_url'>
										<input type='hidden' value='{$token}' name='token'>
										<input type='hidden' value='6' name='action'>
									</form>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary"
											onclick="save('edit_form_6')">保存</button>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="olduserRoom">
							<div class="modal-content">
								<div class="modal-body attire-append">
									<form id='edit_form_7' method='post'>
										<div class='form-group'>
											<table>
												<thead>
												<th style="width: 200px;">房间ID</th>
												<th style="width: 100px;">排序</th>
												<th style="width: 400px;">欢迎语</th>
												</thead>
												<tbody>
												{if condition="!empty($oldUserRoom)"}
												{volist name="oldUserRoom" id="room"}
												<tr>
													<td><input type='text' class='form-control timeSelector1'
															   oninput="this.value = this.value.replace(/[^0-9]/g, '');"
															   name='room[]' value='{$room.room_id}' required='required'></td>
													<td><input type='text' class='form-control timeSelector1'
															   oninput="this.value = this.value.replace(/[^0-9]/g, '');if(this.value >100)this.value=100"
															   name='sort[]' value='{$room.sort}' required='required'></td>
													<td><input type='text' class='form-control timeSelector1'
															   name='msg[]' value='{$room.msg}' required='required' maxlength="15" ></td>
												</tr>
												{/volist}
												{/if}
												</tbody>
											</table>
										</div>
										<button class='addinputThree' type='button' class='btn  btn-outline btn-success'>
											<i class='glyphicon glyphicon-plus' aria-hidden='true'></i>
										</button>
										<button class='delinputTwo' type='button' class='btn  btn-outline btn-success'>
											<i class='glyphicon glyphicon-minus' aria-hidden='true'></i>
										</button>
										<input type='hidden' value='/admin/roomHomepageSave' name='master_url'>
										<input type='hidden' value='{$token}' name='token'>
										<input type='hidden' value='7' name='action'>
									</form>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary"
											onclick="save('edit_form_7')">保存</button>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!--操作modal-->
	<input type="hidden" value="{$page.page ? $page.page: 0}" id="page">
	<input type="hidden" value="{$page.total_page ? $page.total_page: 0}" id="total_page">
	<input type="hidden" value="{$token}" name="token" id="token">

	<!-- 全局js -->
	<script src="/admin/js/jquery.min.js?v=2.1.4"></script>
	<script src="/admin/js/bootstrap.min.js?v=3.3.6"></script>
	<script src="/admin/js/plugins/toastr/toastr.min.js"></script>
	<script src="/admin/js/plugins/pagination/bootstrap-paginator.js"></script>
	<script>
		function save(form_id) {
			var edit_info = $("#" + form_id).serializeArray();
			$.ajax({
				async: false, //表示请求是否异步处理
				type: "post", //请求类型
				url: "/admin/roomHomepageSave", //请求的 URL地址
				token: $("#token").val(),
				dataType: "json", //返回的数据类型
				data: edit_info,
				success: function (rs) {
					if (rs.code !== 200) {
						toastr.warning(rs.msg);
						return false;
					}
					toastr.success(rs.msg);
					setTimeout(location, 1000); //延迟5秒刷新页面
				},
				error: function (rs) {
					toastr.warning('请求失败');
				}
			});

			function location() {
				window.location.href = window.location.href;
			}

			return false;
		}

		$('.addinput').on('click', function () {
			$(this).parent().find('.form-group').append(
				"<input type='text' class='form-control timeSelector1' oninput=\"this.value = this.value.replace(/[^0-9]/g, '');\" name='room[]' required='required'>"
			);
		});

		$('.delinput').on('click', function () {
			$(this).parent().find('.form-group').children(':last-child').remove();
		});

		$('.delinputTwo').on('click', function () {
			$(this).parent().find('.form-group table tbody').children(':last-child').remove();
		});

		$('.addinputTwo').on('click', function () {
			$(this).parent().find('.form-group table tbody').append(
				'<tr>' +
				'<td><input type="text" class="form-control timeSelector1" oninput="this.value = this.value.replace(/[^0-9]/g, ");" name="room[]" value="" required="required"></td>' +
				'<td><input type="text" class="form-control timeSelector1" oninput="this.value = this.value.replace(/[^0-9]/g, ");" name="sort[]" value="" required="required"></td>' +
				'</tr>'
			);
		});

		$('.addinputThree').on('click', function () {
			$(this).parent().find('.form-group table tbody').append(
					'<tr>' +
					'<td><input type="text" class="form-control timeSelector1" oninput="this.value = this.value.replace(/[^0-9]/g, ");" name="room[]" value="" required="required"></td>' +
					'<td><input type="text" class="form-control timeSelector1" oninput="this.value = this.value.replace(/[^0-9]/g, ");" name="sort[]" value="" required="required"></td>' +
					'<td><input type="text" class="form-control timeSelector1"  name="msg[]" value=""></td>' +
					'</tr>'
			);
		});
	</script>
	<script>
		$('a[data-toggle="tab"]').on('hide.bs.tab', function (e) {
			// e.target // 新选项卡对象
			// e.relatedTarget // 老选项卡对象
			console.log("老选项卡隐藏之前");
		})
		$('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
			// e.target // 新选项卡对象
			// e.relatedTarget // 老选项卡对象
			console.log("新选项卡显示之前");
		})
		$('a[data-toggle="tab"]').on('hidden.bs.tab', function (e) {
			// e.target // 新选项卡对象
			// e.relatedTarget // 老选项卡对象
			console.log("老选项卡隐藏之后");
		})
		$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
			console.log(e.target.nodeName); //获取事件触发元素标签名（li，p，div，img，button…）
			console.log(e.target.id); //获取事件触发元素id
			console.log(e.target.className); //获取事件触发元素classname
			console.log(e.target.innerHTML); //获取事件触发元素的内容（li）
			console.log(e.relatedTarget) // 老选项卡对象
			console.log("新选项卡显示之后");
		})
	</script>
</body>

</html>