<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mua语音 - 运营后台</title>
    <!--    全局css-->
    {include file="../view/admin/common/cssHeader.html"}
    <link href="/admin/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="/admin/css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <style>
        table {
            table-layout: fixed;
        }

        td {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

    </style>

</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <!-- Example Events -->
                    <div class="example-wrap">
                        <div class="btn-group hidden-xs form-inline">

                            <input class="form-control input-outline" type="text"
                                   oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                                   placeholder="请输入公屏显示广播值" value="" id="coin">
                            &#12288
                            <button type="button" class="btn btn-outline btn-success" style="float:right;" id="search">
                                <i aria-hidden="true"></i>修改
                            </button>
                        </div>
                        <div class="example">
                            <table class="table table-hover table-responsive" id="data_table">
                                <thead>
                                <tr>
                                    <th class="text-center">当前公屏广播值</th>
                                </tr>
                                </thead>
                                <tbody>
                                {if condition="!empty($res)"}
                                <tr>
                                    <td class="text-center" id="id">{$res.send_gift_num}</td>
                                </tr>
                                {else}
                                <tr class="no-records-found">
                                    <td colspan="7" class="text-center">没有找到匹配的记录</td>
                                </tr>
                                {/if}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- End Example Events -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Panel Other -->
</div>




<!-- 全局js -->
{include file="../view/admin/common/jsHeader.html"}
<input type="hidden" value="{$token}" id="token">
<script src="/admin/js/datetimepicker/bootstrap-datetimepicker.js"></script>
<script src="/admin/js/datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>
<script>



    $('#search').click(function () {
        var coin = $('#coin').val();

        $.ajax({
            async: false,    //表示请求是否异步处理
            type: "get",    //请求类型
            url: "/admin/sendGiftNumSave",//请求的 URL地址
            dataType: "json",//返回的数据类型
            data: {
                coin: coin,
                master_url: '/admin/editsaymsg',
                token: $("#token").val(),
            },
            success: function (rs) {
                if (rs.code !== 200) {
                    toastr.warning(rs.msg);
                    return false;
                }
                toastr.success(rs.msg);
                setTimeout(location, 200);   //延迟5秒刷新页面

            },
            error: function (rs) {
                toastr.warning('请求失败');
            }
        });

        // function location() {
        //     window.location.href = window.location.href;
        // }

    })

</script>
</body>
</html>
