<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mua语音 - 运营后台</title>
    <!--    全局css-->
    {include file="../view/admin/common/cssHeader.html"}
    <link href="/admin/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="/admin/css/plugins/toastr/toastr.min.css" rel="stylesheet">


    <style>

        .form-control:focus {
            border-color: #66afe9;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
        }

        table {
            table-layout: fixed;
        }

        td {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

    </style>

</head>
<body class="gray-bg">

<!--数据表格-->
<div class="wrapper wrapper-content animated fadeInRight" >
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <!-- Example Events -->
                    <div class="example-wrap">
                        <!--                            搜索-->
                        {if condition="in_array('/admin/listEmoticon',$user_role_menu)"}
                        <div class="pull-right search form-inline">
                            分类:<select class="form-control" id="mold">
                            <option value="0" {if $mold == 0} echo selected="selected" {/if}>全部</option>
                            <option value="1" {if $mold == 1} echo selected="selected" {/if}>普通</option>
                            <option value="2" {if $mold == 2} echo selected="selected" {/if}>vip</option>
                        </select>
                            <button type="button" class=" btn btn-primary" id="search">搜索</button>
                        </div>
                        {/if}
                        <div class="example">
                            <!--                            添加-->
                            <div class="btn-group hidden-xs" id="exampleTableEventsToolbar" role="group">
                                <button type="button" class="btn editGift btn-outline btn-success" id="add_gift">
                                    <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>添加
                                </button>
                                <button type="button" class="btn btn-outline btn-success" id="clearCache">
                                    <i class="glyphicon glyphicon-fire" aria-hidden="true"></i>清除缓存
                                </button>
                            </div>

                            <table class="table table-hover table-responsive" id="data_table">
                                <thead>
                                <tr>
                                    <th class="text-center"width="50" >ID</th>
                                    <th class="text-center" >名称</th>
                                    <th class="text-center">图标</th>
                                    <th class="text-center">动画</th>
                                    <th class="text-center">类型</th>
                                    <th class="text-center">锁定</th>
                                    <th class="text-center">分类</th>
                                    <th class="text-center">是否vip</th>
                                    <th class="text-center" >排序</th>
                                    <th class="text-center">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {if condition="!empty($list)"}
                                {volist name="list" id="lists"}
                                <tr>
                                    <td class="text-center id" >{$lists.id}</td>
                                    <td class="text-center  face_name">{$lists.face_name}</td>
                                    <td class="text-center face_image"><img src="{$lists.face_image}" width="30"  heght="30"></td>

                                    {if $lists.animation}
                                    <td class="text-center animation"><img src="{$lists.animation}" width="30"  heght="30"></td>
                                    {else}
                                    <td class="text-center animation"></td>
                                    {/if}

                                    {if $lists.type==1}
                                    <td class="text-center type" type="1" >默认</td>
                                    {else}
                                    <td class="text-center type" type="2" >专属</td>
                                    {/if}
                                    {if $lists.is_lock==1}
                                    <td class="text-center is_lock" is_lock="1" >锁定</td>
                                    {else}
                                    <td class="text-center is_lock" is_lock="0" >未锁</td>
                                    {/if}
                                    {if $lists.mold==1}
                                    <td class="text-center mold" mold="1" >普通</td>
                                    {else}
                                    <td class="text-center mold" mold="2" >VIP</td>
                                    {/if}
                                    {if $lists.is_vip==0}
                                    <td class="text-center is_vip" is_vip="0" >否</td>
                                    {else}
                                    <td class="text-center is_vip" is_vip="1" >是</td>
                                    {/if}
                                    <td class="text-center is_sort">{$lists.is_sort}</td>
                                    <td class="text-center">
                                        <div class="btn-group hidden-xs form-inline">
                                            <button class="btn btn-success del" id="{$lists.id}">删除</button>
                                        </div>
                                        <div class="btn-group hidden-xs form-inline">
                                            <button class="btn update btn-success">修改</button>
                                        </div>
                                        <div class="btn-group hidden-xs form-inline">
                                            <button class="btn btn-success addGiftImage" id="ossFile">添加图片</button>
                                        </div>
                                    </td >
                                </tr>
                                {/volist}
                                {else}
                                <tr class="no-records-found">
                                    <td colspan="7" class="text-center">没有找到匹配的记录</td>
                                </tr>
                                {/if}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {if condition = "$page.total_page >1"}
                    <div id="Paginator" style="text-align: center">
                        <ul id="pageLimit"></ul>
                    </div>
                    {/if}
                    <!-- End Example Events -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Panel Other -->
</div>
<!--编辑信息-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" onclick="empty()">&times;</span>
                </button>
                <h4 class="modal-title" id="editModalLabel">添加</h4>
            </div>
            <div class="modal-body edit-append">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" >关闭</button>
                <button type="button" class="btn btn-primary" onclick="edit_info()">保存</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="attireModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" onclick="empty()">&times;</span>
                </button>
                <h4 class="modal-title" id="attireModalLabel">编辑信息</h4>
            </div>
            <div class="modal-body attire-append">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" >关闭</button>
                <button type="button" class="btn btn-primary" id="search2">修改</button>
            </div>
        </div>
    </div>
</div>
<!--编辑图片-->
<div class="modal fade" id="uploadFileModal" tabindex="-1" role="dialog" aria-labelledby="uploadFileModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="upload-file-name">图片编辑</h4>
            </div>
            <div class="modal-body">
                <form id='uploads_files' method="post" enctype="multipart/form-data">
                    <input type="hidden" id="gifts_id" value="">
                    <div class="form-group">
                        <label class="control-label">添加礼物图片[PNG]</label>
                        <input type="file" class="form-control gift_image" name="gift_image" id="gift_image"  value="" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label">添加礼物动画[GIF]:</label>
                        <input type="file" class="form-control animation" name="animation"  id="animation" value="" required>
                    </div>
<!--                    <div class="form-group">-->
<!--                        <label class="control-label">添加大动画[SVGA]:</label>-->
<!--                        <input type="file" class="form-control gift_animation" name="gift_animation" id="gift_animation" value="" required>-->
<!--                    </div>-->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="add_imgs()">保存</button>
            </div>
        </div>
    </div>
</div>
<!--操作modal-->
<input type="hidden" value="{$page.page ? $page.page: 0}" id="page">
<input type="hidden" value="{$page.total_page ? $page.total_page: 0}" id="total_page">
<input type="hidden" value="{$token}" name="token" id="token">
<input type="hidden" value="/admin/listEmoticon" name="master_url" id="master_url">

<!-- 全局js -->
{include file="../view/admin/common/jsHeader.html"}

<script src="/admin/js/datetimepicker/bootstrap-datetimepicker.js"></script>
<script src="/admin/js/datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>
<script>
    //添加或更改图片
    $('.addGiftImage').on('click',function(){
        $("#gifts_id").val($(this).parents("tr").find(".id").text());
        $('#uploadFileModal').modal('show');
    })
    function add_imgs(){
        if($("#gifts_id").val() == ""){
            toastr.warning('未获得礼物ID');
            return false;
        }
        if($('#gift_image')[0].files[0]){
            var gift_imageType = $('#gift_image')[0].files[0].name.split('.');
            if(gift_imageType[1] != 'png'){
                toastr.warning('礼物图标请选择png格式文件');
                return false;
            }
        }
        if($('#animation')[0].files[0]){
            var animationType = $('#animation')[0].files[0].name.split('.');
            if(animationType[1]!='gif'){
                toastr.warning('礼物动画请选择gif格式文件');
                return false;
            }
        }
        // if($('#gift_animation')[0].files[0]){
        //     var gift_animationType = $('#gift_animation')[0].files[0].name.split('.');
        //     if(gift_animationType[1]!='svga'){
        //         toastr.warning('礼物大动画请选择svga格式文件');
        //         return false;
        //     }
        // }

        var formData = new FormData();
        formData.append("id", $("#gifts_id").val());
        formData.append("token", $("#token").val());
        formData.append("master_url", $("#master_url").val());
        formData.append("gift_image", $('#gift_image')[0].files[0]);
        formData.append("animation", $('#animation')[0].files[0]);
        // formData.append("gift_animation", $('#gift_animation')[0].files[0]);
        $.ajax({
            async: false,    //表示请求是否异步处理
            cache: false,
            processData: false,
            contentType: false,
            type: "post",    //请求类型
            url: "/admin/ossEmoticonFile",//请求的 URL地址
            dataType: "json",//返回的数据类型
            data: formData,
            success: function (rs) {
                if (rs.code !== 200) {
                    toastr.warning(rs.msg);
                    return false;
                }
                toastr.success(rs.msg);
                setTimeout(location, 1000);   //延迟5秒刷新页面
            },
            error: function (rs) {
                toastr.warning('请求失败');
            }
        });
        function location() {
            window.location.href = window.location.href;
        }
        return false;
    }
    //分页
    $('#pageLimit').bootstrapPaginator({
        currentPage: $("#page").val(),
        totalPages: $("#total_page").val(),
        size: "normal",
        bootstrapMajorVersion: 3,
        alignment: "right",
        numberOfPages: '5',
        pageUrl: function (type, page, current) {
            //是每个分页码变成一个超链接
            return '?page=' + page + '&master_url=/admin/listEmoticon&token=' + $("#token").val() + '&is_lock=' + $("#is_lock").val()
        },
        itemTexts: function (type, page, current) {
            switch (type) {
                case "first":
                    return "首页";
                case "prev":
                    return "上一页";
                case "next":
                    return "下一页";
                case "last":
                    return "末页";
                case "page":
                    return page;
            }
        }
    });

    //添加信息
    $('.editGift').on('click',function(){
        $(".edit-append").empty();
        $(".edit-append").prepend(
            "<form id='edit_form' method='post' >"+
            "<div class='form-group'>"+
            "<label class='control-label'>"+"名称:"+"</label>"+
            "<input type='text' id='face_name' class='form-control face_name' name='face_name' value='' required>"+
            "</div>"+

            "<div class='form-group'>"+
            "<label class='control-label'>添加图片:</label>"+
            "<input type='file' class='form-control face_image' id='face_image' value='' required>"+
            "</div>"+
            "<div class='form-group'>"+
            "<label class='control-label'>添加动图:</label>"+
            "<input type='file' class='form-control animation'  id='animation' value='' required>"+
            "</div>"+
            "<div id='type1'>"+
            "<div class='form-group'>"+
            "<label class='control-label'>"+"排序:"+"</label>"+
            "<input type='number' id='is_sort' oninput=\"if(value.length > 6)value = value.slice(0, 6)\"  class='form-control' name='is_sort' value='' required>"+
            "</div>"+
            "<div class='form-group'>"+
            "<label class='control-label'>"+"类型:"+"</label>"+
            "<label class='radio-inline'>"+
            "<input type='radio' name='type' class='type' checked value='1'>"+" 默认"+
            "</label>"+
            "<label class='radio-inline'>"+
            "<input type='radio' name='type' class='type'  value='2'>"+" 专属"+
            "</label>"+
            "</div>"+

            "<div class='form-group'>"+
            "<label class='control-label'>"+"锁定:"+"</label>"+
            "<label class='radio-inline'>"+
            "<input type='radio' name='is_lock' class='is_lock' checked value='0'>"+" 未锁"+
            "</label>"+
            "<label class='radio-inline'>"+
            "<input type='radio' name='is_lock' class='is_lock'  value='1'>"+" 锁定"+
            "</label>"+
            "</div>"+

            "<div class='form-group'>"+
            "<label class='control-label'>"+"vip:"+"</label>"+
            "<label class='radio-inline'>"+
            "<input type='radio' name='is_vip' class='is_vip' checked value='0'>"+" 否"+
            "</label>"+
            "<label class='radio-inline'>"+
            "<input type='radio' name='is_vip' class='is_vip'  value='2'>"+" 是"+
            "</label>"+
            "</div>"+
            "<div class='form-group'>"+
            "<label class='control-label'>"+"分类:"+"</label>"+
            "<label class='radio-inline'>"+
            "<input type='radio' name='mold' class='mold' checked value='1'>"+" 普通"+
            "</label>"+
            "<label class='radio-inline'>"+
            "<input type='radio' name='mold' class='mold'  value='2'>"+"vip"+
            "</label>"+
            "</div>"+

            "<input type='hidden' value='{$token}' name='token'>"+
            "<input type='hidden' value='/admin/addAttire' id='master_url' name='master_url'>"+
            " </form>"
        );
        $('#editModal').modal('show');
    });

    //图片上传
    $(document).on("change","#face_image",function(){
        if($('#face_image')[0].files[0]){
            var animationType = $('#face_image')[0].files[0].name.split('.');
            if (animationType[1] != "bmp"&&animationType[1] != "png"&&animationType[1] != "gif" && animationType[1]!="jpg" && animationType[1]!="jpeg" && animationType[1] != "svga") {
                toastr.warning("文件只限图片");
                return false;
            }
        }
        var formData = new FormData();
        formData.append("token", $("#token").val());
        formData.append("master_url", $("#master_url").val());
        formData.append("image", $('#face_image')[0].files[0]);

        $.ajax({
            async: false,    //表示请求是否异步处理
            cache: false,
            processData: false,
            contentType: false,
            type: "post",    //请求类型
            url: "/admin/ossAttireFile",//请求的 URL地址
            dataType: "json",//返回的数据类型
            data: formData,
            success: function (rs) {
                if (rs.status !== 1) {
                    toastr.warning(rs.msg);
                    return false;
                }
                toastr.success(rs.msg);
                $('#face_image').parent().append("<input type='hidden' name='face_image'  value="+rs.image+">");
            },
            error: function (rs) {
                toastr.warning('请求失败');
            }
        });
        function location() {
            window.location.href = window.location.href;
        }
        return false;
    })

    //动图上传
    $(document).on("change","#animation",function(){
        if($('#animation')[0].files[0]){
            var animationType = $('#animation')[0].files[0].name.split('.');
            if (animationType[1] != "bmp"&&animationType[1] != "png"&&animationType[1] != "gif" && animationType[1]!="jpg" && animationType[1]!="jpeg" && animationType[1] != "svga") {
                toastr.warning("文件只限图片");
                return false;
            }
        }
        var formData = new FormData();
        formData.append("token", $("#token").val());
        formData.append("master_url", $("#master_url").val());
        formData.append("image", $('#animation')[0].files[0]);

        $.ajax({
            async: false,    //表示请求是否异步处理
            cache: false,
            processData: false,
            contentType: false,
            type: "post",    //请求类型
            url: "/admin/ossAttireFile",//请求的 URL地址
            dataType: "json",//返回的数据类型
            data: formData,
            success: function (rs) {
                if (rs.status !== 1) {
                    toastr.warning(rs.msg);
                    return false;
                }
                toastr.success(rs.msg);
                $('#animation').parent().append("<input type='hidden' name='animation'  value="+rs.image+">");
            },
            error: function (rs) {
                toastr.warning('请求失败');
            }
        });
        function location() {
            window.location.href = window.location.href;
        }
        return false;
    })

    //添加执行
    function edit_info(){

        var edit_info = $("#edit_form").serializeArray();

        if($('#face_name').val() == ''){
            toastr.warning('名称不可为空');
            return false;
        }
        if($('#face_image').val()==''){
            toastr.warning("图片必选");
            return false;
        }
        if($('#is_sort').val() == ''){
            toastr.warning('排序必填');
            return false;
        }
        $.ajax({
            async: false,    //表示请求是否异步处理
            type: "post",    //请求类型
            url: "/admin/addEmoticon",//请求的 URL地址
            token: $("#token").val(),
            dataType: "json",//返回的数据类型
            data: edit_info,
            success: function (rs) {
                if (rs.code !== 200) {
                    toastr.warning(rs.msg);
                    return false;
                }
                toastr.success(rs.msg);
                setTimeout(location, 1000);   //延迟5秒刷新页面

            },
            error: function (rs) {
                toastr.warning('请求失败');
            }
        });

        function location() {
            window.location.href = window.location.href;
        }

        return false;
    }

    //搜索
    $("#search").click(function () {
        var mold = $("#mold").val();
        var token = $('#token').val();
        window.location.href = "/admin/listEmoticon?token=" + token + '&master_url=/admin/listEmoticon&page=1&mold=' + mold
    })

    //修改框追加
    $('.update').on('click',function(){
        $(".attire-append").empty();
        $(".attire-append").prepend(
            "<form id='attire_form' method='post' >"+
            "<div class='form-group'>"+
            "<label class='control-label'>"+"名称:"+"</label>"+
            "<input type='text' id='face_name' class='form-control face_name' name='face_name' value='' required>"+
            "</div>"+

            "<div id='type1'>"+
            "<div class='form-group'>"+
            "<label class='control-label'>"+"排序:"+"</label>"+
            "<input type='number' id='is_sort' oninput=\"if(value.length > 6)value = value.slice(0, 6)\"  class='form-control is_sort' name='is_sort' value='' required>"+
            "</div>"+
            "<div class='form-group'>"+
            "<label class='control-label'>"+"类型:"+"</label>"+
            "<label class='radio-inline'>"+
            "<input type='radio' name='type' class='type' value='1'>"+" 默认"+
            "</label>"+
            "<label class='radio-inline'>"+
            "<input type='radio' name='type' class='type'  value='2'>"+" 专属"+
            "</label>"+
            "</div>"+

            "<div class='form-group'>"+
            "<label class='control-label'>"+"锁定:"+"</label>"+
            "<label class='radio-inline'>"+
            "<input type='radio' name='is_lock' class='is_lock' value='0'>"+" 未锁"+
            "</label>"+
            "<label class='radio-inline'>"+
            "<input type='radio' name='is_lock' class='is_lock'  value='1'>"+" 锁定"+
            "</label>"+
            "</div>"+

            "<div class='form-group'>"+
            "<label class='control-label'>"+"vip:"+"</label>"+
            "<label class='radio-inline'>"+
            "<input type='radio' name='is_vip' class='is_vip' value='0'>"+" 否"+
            "</label>"+
            "<label class='radio-inline'>"+
            "<input type='radio' name='is_vip' class='is_vip'  value='1'>"+" 是"+
            "</label>"+
            "</div>"+
            "<div class='form-group'>"+
            "<label class='control-label'>"+"分类:"+"</label>"+
            "<label class='radio-inline'>"+
            "<input type='radio' name='mold' class='mold' value='1'>"+" 普通"+
            "</label>"+
            "<label class='radio-inline'>"+
            "<input type='radio' name='mold' class='mold'  value='2'>"+"vip"+
            "</label>"+
            "</div>"+

            "<input type='hidden' value='{$token}' name='token'>"+
            "<input type='hidden' class='id' name='id'>"+
            "<input type='hidden' value='/admin/saveEmoticon' id='master_url' name='master_url'>"+
            " </form>"
        );

        $(".id").val($(this).parents("tr").find(".id").text());
        $(".face_name").val($(this).parents("tr").find(".face_name").text());
        $(".is_sort").val($(this).parents("tr").find(".is_sort").text());

        var mold = $(this).parents("tr").find(".mold").attr('mold');
        $(":radio[name='mold'][value="+mold+"]").attr("checked","checked");
        var is_vip = $(this).parents("tr").find(".is_vip").attr('is_vip');
        $(":radio[name='is_vip'][value="+is_vip+"]").attr("checked","checked");
        var type = $(this).parents("tr").find(".type").attr('type');
        $(":radio[name='type'][value="+type+"]").attr("checked","checked");
        var is_lock = $(this).parents("tr").find(".is_lock").attr('is_lock');
        $(":radio[name='is_lock'][value="+is_lock+"]").attr("checked","checked");
        $('#attireModal').modal('show');
    });


    //修改按钮
    $('#search2').click(function () {
        var attire_info = $("#attire_form").serializeArray();
        if($('#face_name').val() == ''){
            toastr.warning('名称不可为空');
            return false;
        }
        if($('#is_sort').val() == ''){
            toastr.warning('排序必填');
            return false;
        }
        $.ajax({
            async: false,    //表示请求是否异步处理
            type: "post",    //请求类型
            url: "/admin/saveEmoticon",//请求的 URL地址
            token: $("#token").val(),
            dataType: "json",//返回的数据类型
            data: attire_info,
            success: function (rs) {
                if (rs.code !== 200) {
                    toastr.warning(rs.msg);
                    return false;
                }
                toastr.success(rs.msg);
                setTimeout(location, 1000);   //延迟5秒刷新页面
            },
            error: function (rs) {
                toastr.warning('请求失败');
            }
        });
        function location() {
            window.location.href = window.location.href;
        }
        return false;

    })


    //删除
    $('.del').on('click',function(){
        $.ajax({
            async: false,    //表示请求是否异步处理
            type: "post",    //请求类型
            token: $("#token").val(),
            url: "/admin/delEmoticon",//请求的 URL地址
            dataType: "json",//返回的数据类型
            data: {master_url:'/admin/delEmoticon',id:$(this).attr('id'),token:$("#token").val()},
            success: function (rs) {
                if (rs.code !== 200) {
                    toastr.warning(rs.msg);
                    return false;
                }
                toastr.success(rs.msg);
                setTimeout(location, 1000);   //延迟5秒刷新页面
            },
            error: function (rs) {
                toastr.warning('请求失败');
            }
        });
        function location() {
            window.location.href = window.location.href;
        }
        return false;
    })
    //清除缓存
    $("#clearCache").on('click',function(){
        var master_url = "/admin/clearGoldEmoti";
        var token = $("#token").val();
        $.ajax({
            async: false,    //表示请求是否异步处理
            type: "post",    //请求类型
            url: "/admin/clearGoldEmoti",//请求的 URL地址
            dataType: "json",//返回的数据类型
            data:{master_url:master_url,token:token},
            success: function (rs) {
                if (rs.code !== 200) {
                    toastr.warning(rs.msg);
                    return false;
                }
                toastr.success(rs.msg);
                setTimeout(location, 500);   //延迟5秒刷新页面
            },
            error: function (rs) {
                toastr.warning('请求失败');
            }
        });
        function location() {
            window.location.href = window.location.href;
        }
        return false;
    })
</script>
</body>
</html>
